			{
				margin: 0;
				padding: 0;
			}
			
			li {
				list-style: none;
			}
			
			body {
				font-family: "微软雅黑";
				background: #eeeeee;
				font-size: 14px;
			}
			
			.row {
				width: 960px;
				margin: 20px auto;
				position: Relative;
				background: white;
				-webkit-box-shadow: 0 0px 20px 3px #bcdccd;
				-moz-box-shadow: 0 0px 20px 3px #bcdccd;
				box-shadow: 0 0px 20px 3px #bcdccd;
			}
			
			.tip-img {
				position: absolute;
				left: -80px;
				top: -12px;
			}
		   .list-tip-img {
				position: absolute;
				left: -80px;
				top: -12px;
			}
			
			.content {
				width: 960px;
				margin: 0 auto;
			}
			
			.main {
				width: 900px;
				margin: 0 auto;
			}
			
			.main h3 {
				width: 100%;
				height: 70px;
				line-height: 70px;
				font-family: "微软雅黑";
			}
			
			.form-line {
				margin: 25px auto 10px 0;
			}
			
			.line-input {
				width: 290px;
				height: 40px;
				padding: 0;
				border: lightblue 1px solid;
				border-radius: 5px;
				outline: none;
				color: lightslategray;
				text-indent: 5px;
				display: inline-block;
				font-size: 14px;
				margin-left: 10px;
			}
			
			.col-lg-6 {
				padding: 0;
				float: left;
				width: 50%;
				display: inline-block;
			}
			
			.lable {
				float: left;
				width: 220px;
			}
			
			.col-lg-12 {}
			
			.label select {
				width: 220px;
				height: 40px;
				border: lightblue 1px solid;
				border-radius: 5px;
				outline: none;
				color: lightslategray;
				text-indent: 5px;
				display: inline-block;
				font-size: 14px;
				padding: 1px 0;
				margin-left: 10px;
			}
			
			select option {
				width: 250px;
				font-size: 14px;
				height: 40px;
				border: lightblue 1px solid;
				border-radius: 5px;
				outline: none;
				color: lightslategray;
				text-indent: 10px;
				font-family: "微软雅黑";
				display: inline-block;
			}
			
			.form-a {
				display: inline-block;
				color: black;
				width: 80px;
				font-size: 18px;
				text-align: left;
			}
			
			.line-input:focus {
				border-color: lightskyblue;
			}
			
			.btn-size {
				width: 80px;
				height: 40px;
				background:rgb(0, 166, 90);
				color: white;
				border: none;
				border-radius: 4px;
				outline: none;
				font-size: 16px;
				font-family: "微软雅黑";
			}
			
			.btn-orang {
				width: 132px;
				height: 40px;
				background: #ed6826;
				color: white;
				border: none;
				border-radius: 4px;
				outline: none;
				font-size: 16px;
				font-family: "微软雅黑";
			}
			
			input[type=checkbox] {
				vertical-align: middle;
			}
			
			#hr {
				width: 800px;
				color: white;
				margin-bottom: 20px;
				;
				border-bottom: 2px dashed lightgrey;
			}
			
			#tickettype {
				padding-right: 0px;
				padding-top: 0px;
				padding-bottom: 0;
			}
			
			#closedimg {
				cursor: pointer;
				margin: 1px 2px 0 0;
			}
			
			.clearfix {
				content: '';
				clear: both;
				display: block;
			}
			
			.form-line1 {
				margin-top: 0px;
			}
			
			.ticketStatus {
				display: none;
			}
			
			.typeStyle {
				margin: 0 10px 0 15px;
			}
			
			.form-group .fontCol {
				font-size: 14px;
				font-weight: 700;
				color: #333;
			}
			
			#cbIdType,
			#idNo {
				height: 40px;
				line-height: 40px;
				padding: 0;
				margin-left: 10px;
				border: lightblue 1px solid;
				border-radius: 5px;
				width: 290px;
				display: inline-block;
				border: lightblue 1px solid;
			}
			
			.increaseMar .mag .label {
				margin-top: 20px;
			}
			
			#ticketKind,
			#rechargeAmount {
				width: 290px;
				display: inline-block;
				border: lightblue 1px solid;
				height: 40px;
				line-height: 40px;
			}
			
			.noDocumentsLabel {
				margin-left: 42px;
			}
			
			#CbRwdsAccno {
				margin-left: 10px;
			}
			
			.mag label {
				width: 100px;
				text-align: right;
			}
			
			.marginBottom {
				margin-bottom: 50px;
			}
			
			.backStyle {
				font-size: 20px;
				color: #333;
			}
			.box-footer{
				border:none;
			}
			