<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/aboutus/aboutus.css"/>
		<link rel="stylesheet" type="text/css" href="../css/aboutus/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/aboutus/layout.css"/>
		<title>关于我们——友情链接</title>
	</head>
	<body>
				<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="traffic-map.html" class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
									<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="holiday-hotel.html">观云居</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="../current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌节庆</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">两日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="about-us.html">企业风采</a></li>
									<li><a href="about-us-talent.html">人才招聘</a></li>
									<li><a href="about-us-contactus.html">联系我们</a></li>
									<li><a href="about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">门票预订</a></li>
									<li><a href="javascript:void(0)">酒店预订</a></li>
									<li><a href="javascript:void(0)">纪念品</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="../personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">个人账户</a></li>
									<li><a href="../personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		
		
			<div class="aboutus-top">
					<img src="../img/aboutus/aboutus-bg.png" width="100%">
				    <div class="aboutus-deer"></div>
                    <div class="aboutus-lion"></div>
                    <div class="aboutus-title"></div>
			</div>
<div class="bg-about">
						<div class="about-nav">
						<ul>
							<li><a href="about-us.html">企业风采</a></li>
							<li><a href="about-us-talent.html">人才招聘</a></li>
							<li><a href="about-us-contactus.html">联系我们</a></li>
							<li><a href="about-us-friendship.html">友情链接</a></li>
						</ul>
					</div>
					<div class="corporate-style">
							<h5>关于我们>友情链接</h5>
							
							<div class="corporate-nav">
							<h3>友情链接</h3>
							福建省旅游局  www.fjta.gov.cn
							漳州市旅游局  www.zzta.com

							<div class="clearfix"></div>
							</div>
					</div>
			
			<section id="content" class="wrap1000">
<!--栏目导航End-->
        <div class="conTabMenu">
        	<a class="active" style="border-left:#aaaaaa solid 1px;" href="javascript:;"><span class="sp1">欢乐大世界</span><span class="sp2">欢乐大世界</span></a><a href="javascript:;"><span class="sp1">动物欢乐大世界</span><span class="sp2">动物欢乐大世界</span></a><a href="javascript:;">
        		<span class="sp1">海洋欢乐大世界</span><span class="sp2">海洋欢乐大世界</span></a><a href="javascript:;"><span class="sp1">欢乐大世界大马戏</span><span class="sp2">欢乐大世界大马戏</span></a><a href="javascript:;"><span class="sp1">欢乐大世界飞鸟乐园</span><span class="sp2">欢乐大世界飞鸟乐园</span></a><a href="javascript:;"><span class="sp1">欢乐大世界酒店</span><span class="sp2">欢乐大世界酒店</span></a>
        </div>
        <!--页面内容-->
        <div class="conTabWrap">

        	<!--欢乐大世界-->
        	<div class="conItem" style="display:block; left:0px; filter:alpha(opacity=100); opacity:1; ">
            	<!--焦点图-->
                <div class="aboutFocusWrap">
                    <div class="focusPic">
                        <img style="display: block; z-index: 9; opacity: 0.05;" src="../img/aboutus/happy_01.jpg" alt="飞马家庭过山车">
                        <img src="../img/aboutus/happy_02.jpg" alt="垂直过山车" style="z-index: 10; opacity: 0.95;">
                    </div>
                    <h2><span>01</span>欢乐大世界</h2>
                    <div class="focusPicT">垂直过山车</div>
                    <a class="prevPic" href="javascript:;"></a>
                    <a class="nextPic" href="javascript:;"></a>
                </div>
                <!--焦点图End-->
                <div class="aboutConInfo">
                    <h2 class="aboutLogo">
                     <img src="../img/aboutus/about-logo.png" alt="" />
                    </h2>
                    <h3 style="color:#ff7800;">欢乐大世界•新一代游乐园巅峰之作</h3>
                    <p>欢乐大世界是目前中国设备先进、科技含量高、游乐设备丰富多样的超级游乐园，集世界创新游乐和大型演艺表演为一体，被誉为"中国新一代游乐园的典范之作"。拥有"全球过山车之王"垂直过山车；荣获世界纪录的十环过山车；亚洲创新设计U型滑板；亚洲超大四维影院等众多世界水准的游乐项目。自2013年，亚洲超大室内探险项目《森林神庙》，2014年，原创多媒体项目《星际决战》盛大开放，开创主题公园的游乐3.0时代。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--欢乐大世界 end-->
            

            <!--欢乐大世界野生动物世界-->
        	<div class="conItem">
            	<!--焦点图-->
                <div class="aboutFocusWrap">
                    <div class="focusPic">
                        <img style="display: block; z-index: 10; opacity: 0.26;" src="../img/aboutus/wildlife_02.jpg" alt="世界国宝区">
                        <img src="../img/aboutus/wildlife_01.jpg" alt="白虎山" style="z-index: 9; opacity: 0.74;">
                    </div>
                    <h2><span>01</span>动物欢乐大世界</h2>
                    <div class="focusPicT">世界国宝区</div>
                    <a class="prevPic" href="javascript:;"></a>
                    <a class="nextPic" href="javascript:;"></a>
                </div>
                <!--焦点图End-->
                <div class="aboutConInfo">
                    <h2 class="aboutLogo" >
                    	 <img src="../img/aboutus/about-logo.png" alt="" />
                    </h2>
                            <h3 style="color:#ff7800;">欢乐大世界野生动物世界•大种群、多种类野生动物公园</h3>
                            <p>动物欢乐大世界占地2000多亩，拥有华南地区亚热带雨林大面积原始生态，主科普教育"为宗旨，园内设有集讲解与动物于一身的动物科普驿站、图文并茂的动物说明牌、内容丰富的科普长廊、生动有趣的动物学堂、充满温情的儿童动物王国、图文并茂动物解说牌和环保知识牌，高规格的设计被誉为最具国际水准的野生动物园。世界奇迹，欢乐大世界首创！全球唯一大熊猫三胞胎诞于2014年7月29日诞生欢乐大世界，并在百日之际对外展出。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--欢乐大世界野生动物世界 end-->
            <!--欢乐大世界水上乐园-->
        	<div class="conItem">
            	<!--焦点图-->
                <div class="aboutFocusWrap">
                    <div class="focusPic">
                        <img style="display: block; z-index: 10; opacity: 0.26;" src="../img/aboutus/waterPark_02.jpg" alt="超级大喇叭">
                        <img src="../img/aboutus/waterPark_01.jpg" alt="巨蟒" style="z-index: 9; opacity: 0.74;">
                    </div>
                    <h2><span>01</span>海洋欢乐大世界</h2>
                    <div class="focusPicT">超级大喇叭</div>
                    <a class="prevPic" href="javascript:;"></a>
                    <a class="nextPic" href="javascript:;"></a>
                </div>
                <!--焦点图End-->
                <div class="aboutConInfo">
                    <h2 class="aboutLogo" >
                    	 <img src="../img/aboutus/about-logo.png" alt="" />
                    </h2>
                            <h3 style="color:#ff7800;">海洋欢乐大世界•全球必去水上乐园</h3>
                            <p>海洋欢乐大世界连续多年被评为"全球必去水上乐园"，拥有众多世界金奖水上游乐设施，如超级大喇叭"滑道、超级造浪池等。2012年全新开放的"热浪谷"，、儿童玩水区"宝贝水城"重磅升级，从国外引进、蛇形亲子滑道"眼镜蛇"等十大专为儿童度身定做的全新玩水设施，同时，户外温水系统面积扩容到几乎全园区。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--欢乐大世界水上乐园 end-->
            <!--欢乐大世界国际大马戏-->
        	<div class="conItem">
            	<!--焦点图-->
                <div class="aboutFocusWrap">
                    <div class="focusPic">
                        <img style="display: block; z-index: 10; opacity: 0.26;" src="../img/aboutus/circus_01.jpg" alt="缘分天空">
                        <img src="../img/aboutus/circus_02.jpg" alt="魔域仙境" style="z-index: 9; opacity: 0.74;">
                    </div>
                    <h2><span>01</span>欢乐大世界国际大马戏</h2>
                    <div class="focusPicT">缘分天空</div>
                    <a class="prevPic" href="javascript:;"></a>
                    <a class="nextPic" href="javascript:;"></a>
                </div>
                <!--焦点图End-->
                <div class="aboutConInfo">
                    <h2 class="aboutLogo">
                    	 <img src="../img/aboutus/about-logo.png" alt="" />
                    </h2>
                            <h3 style="color:#ff7800;">欢乐大世界国际大马戏 •极致奢华的现代马戏盛宴</h3>
                            <p>欢乐大世界国际大马戏始创于2000年，累计演出5000多场，接待观众超过1500多万人次，是国家文化部"文化产业示范基地"、福建省著名"文化旅游名片"。拥有专业马戏表演场，由23个国家300多个马戏演员和上千只珍稀动物联袂演出。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--欢乐大世界国际大马戏 end-->
            <!--欢乐大世界飞鸟乐园-->
        	<div class="conItem">
            	<!--焦点图-->
                <div class="aboutFocusWrap">
                    <div class="focusPic">
                        <img style="display: block; z-index: 10; opacity: 0.26;" src="../img/aboutus/crocodile_01.jpg" alt="群鳄起舞 震撼之旅">
                        <img src="../img/aboutus/crocodile_02.jpg" alt="仙鹤湾" style="z-index: 9; opacity: 0.74;">
                    </div>
                    <h2><span>01</span>欢乐大世界飞鸟乐园</h2>
                    <div class="focusPicT">群鳄起舞 震撼之旅</div>
                    <a class="prevPic" href="javascript:;"></a>
                    <a class="nextPic" href="javascript:;"></a>
                </div>
                <!--焦点图End-->
                <div class="aboutConInfo">
                    <h2 class="aboutLogo" >
                    	 <img src="../img/aboutus/about-logo.png" alt="" />
                    </h2>
                            <h3 style="color:#ff7800;">欢乐大世界飞鸟乐园•极具特色的湿地动物生态公园</h3>
                            <p>欢乐大世界飞鸟乐园是极具特色的湿地生态主题公园，公园内生活着各种珍稀湿地鸟类。这里拥有优美独有的湿地环境，还可以领略千鸟汇聚的壮观场面，包括大型水上飞禽表演，首创环岛式舞台，场景之美震撼无比。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--欢乐大世界飞鸟乐园 end-->
            <!--欢乐大世界酒店-->
        	<div class="conItem">
            	<!--焦点图-->
                <div class="aboutFocusWrap">
                    <div class="focusPic">
                        <img style="display: block; z-index: 10; opacity: 0.26;" src="../img/aboutus/clHotel_01.jpg" alt="欢乐大世界酒店">
                        <img src="../img/aboutus/clHotel_02.jpg" alt="悦鸣乐景房" style="z-index: 9; opacity: 0.74;">
                    </div>
                    <h2><span>01</span>欢乐大世界酒店</h2>
                    <div class="focusPicT">欢乐大世界酒店</div>
                    <a class="prevPic" href="javascript:;"></a>
                    <a class="nextPic" href="javascript:;"></a>
                </div>
                <!--焦点图End-->
                <div class="aboutConInfo">
                    <h2 class="aboutLogo" >
                    	 <img src="../img/aboutus/about-logo.png" alt="" />
                    </h2>
                            <h3 style="color:#ff7800;">欢乐大世界酒店•特色鲜明的生态主题酒店</h3>
                            <p>欢乐大世界酒店是<b style="color:#ff7800;">特色鲜明</b>的动物主题酒店，连续多年荣获TTG"中国最佳主题酒店"大奖。拥有1500间主题客房和全国独具特色的白虎、火烈鸟中庭花园；放养着雪虎、天鹅等珍稀动物的巨型动物岛，以及大型酒店会议中心，汇聚全球多国美食，酒店配套和服务享誉业界。</p>
                </div>
                <div class="clear"></div>
            </div>
            <!--欢乐大世界酒店 end-->
            

            
        </div>

</section>
			
			
			</div>
			
				<!--底部-->
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
					<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
			<script type="text/javascript" src="../js/aboutus/ccjspack.js"></script>
			<script type="text/javascript" src="../js/aboutus/group.js"></script>
			<script type="text/javascript" src="../js/hover.js"></script>
			<script>
				$(function(){
					$(".corporate-nav li a").on('click',function(){
						$(this).removeClass("nocorporate-active").addClass("corporate-active");
						$(this).parent().siblings().find("a").addClass("nocorporate-active");
						$(this).find("div").removeClass("noctive-message").addClass("active-message");
						$(this).parent().siblings().find("div").addClass("noctive-message");
					})
				})
			</script>
	</body>
</html>
