<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link href="../css/themeAttractions/gyj-hotel.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/jquery-ui.css">
		<title>观云居酒店</title>
		<style>
			#datepicker{
				width:100px;
			}
		</style>
	</head>
	<body>
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../index.html" id='1'  target="_parent" >主题景点</a></div>
								<ul class="hidden-nav">
									<li><a href="Theme-animal.html">动物欢乐大世界</a></li>
									<li><a href="Ocean.html">海洋欢乐大世界</a></li>
							
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="holiday-hotel.html">度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="holiday-hotel.html">观云居</a></li>
							
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="../current-activity.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>

								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="#" >关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="../aboutus/about-us.html">企业风采</a></li>
									<li><a href="../aboutus/about-us.html">人才招聘</a></li>
									<li><a href="../aboutus/about-us.html">联系我们</a></li>
									<li><a href="../aboutus/about-us.html">友情链接</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	
		<div class="gyjbg">

		<div class="gyj-hotel">
		<div class="hotel-time">
			<ul>
				<li>
						入住<span><input type="text" id="datepickerbegin" placeholder="点击选择日期"></span>
				</li>
				<li>
						退房<span><input type="text" id="datepickerend" placeholder="点击选择日期"></span>
				</li>
				<li>
						房间 
						<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						</select>
				</li>
				<li>
						成人
						<select>
						<option>1人</option>
						<option>2人</option>
						<option>3人</option>
						<option>4人</option>
						<option>5人</option>
						</select>
				</li>
				<li>
						儿童
						<select>
						<option>1人</option>
						<option>2人</option>
						<option>3人</option>
						<option>4人</option>
						<option>5人</option>
						</select>
				</li>
			</ul>
		</div>
		<div class="gyj-room">
			<ul>
				<li class="clearfix" style="border-bottom:#e8eaea 2px solid;">
					<div class="room-message">
						<ul>
							<li class="room-message-first"><img src="../img/animalimg/gyj01.png"></li>
							<li>
								<strong>观云居标准套房</strong>
								<span>这间迷人的酒店设有:</span>
								<span>两张大床两张单人床</span> 
								<span>花园景观</span> 
								<span>两间餐厅</span> 
							</li>
							<li class="room-message-trird">
								<img src="../img/images/star.png">
							</li>
							<li class="room-message-last">
									<div class="room-sale">
									<span><a href="javascript:void(0)">详情 ></a></span><br><br>
								<strong>￥430</strong>.00元
								<span>每晚均价（不包括服务费）</span>
								<button type="button"><a href="Order-settlement.html">立即预定</a></button>
								</div>
							</li>
							
						</ul>
					</div>
				</li>
				
					<li class="clearfix" style="border-bottom:#e8eaea 2px solid;">
					<div class="room-message">
						<ul>
							<li class="room-message-first"><img src="../img/animalimg/gyj02.png"></li>
							<li>
								<strong>观云居标准套房</strong>
								<span>这间迷人的酒店设有:</span>
								<span>两张大床两张单人床</span> 
								<span>花园景观</span> 
								<span>两间餐厅</span> 
							</li>
							<li class="room-message-trird">
									<img src="../img/images/star.png">
							</li>
							<li class="room-message-last">
									<div class="room-sale">
									<span><a href="javascript:void(0)">详情 ></a></span><br><br>
								<strong>￥430</strong>.00元
								<span>每晚均价（不包括服务费）</span>
								<button type="button"><a href="Order-settlement.html">立即预定</a></button>
								</div>
							</li>
						</ul>
					</div>
				</li>
				
					<li class="clearfix" style="border-bottom:#e8eaea 2px solid;">
					<div class="room-message">
						<ul>
							<li class="room-message-first"><img src="../img/animalimg/gyj03.png"></li>
							<li>
								<strong>观云居标准套房</strong>
								<span>这间迷人的酒店设有:</span>
								<span>两张大床两张单人床</span> 
								<span>花园景观</span> 
								<span>两间餐厅</span> 
							</li>
							<li class="room-message-trird">
									<img src="../img/images/star.png">
							</li>
							<li class="room-message-last">
									<div class="room-sale">
									<span><a href="javascript:void(0)">详情 ></a></span><br><br>
								<strong>￥430</strong>.00元
								<span>每晚均价（不包括服务费）</span>
								<button type="button"><a href="Order-settlement.html">立即预定</a></button>
								</div>
							</li>
						</ul>
					</div>
				</li>
				
					<li class="clearfix" style="border-bottom:#e8eaea 2px solid;">
					<div class="room-message">
						<ul>
							<li class="room-message-first"><img src="../img/animalimg/gyj04.png"></li>
							<li>
								<strong>观云居标准套房</strong>
								<span>这间迷人的酒店设有:</span>
								<span>两张大床两张单人床</span> 
								<span>花园景观</span> 
								<span>两间餐厅</span> 
							</li>
							<li class="room-message-trird">
									<img src="../img/images/star.png">
							</li>
							<li class="room-message-last">
									<div class="room-sale">
									<span><a href="javascript:void(0)">详情 ></a></span><br><br>
								<strong>￥430</strong>.00元
								<span>每晚均价（不包括服务费）</span>
								<button type="button"><a href="Order-settlement.html">立即预定</a></button>
								</div>
							</li>
						</ul>
					</div>
				</li>
				
					<li class="clearfix" style="border-bottom:#e8eaea 2px solid;">
					<div class="room-message">
						<ul>
							<li class="room-message-first"><img src="../img/animalimg/gyj05.png"></li>
							<li>
								<strong>观云居标准套房</strong>
								<span>这间迷人的酒店设有:</span>
								<span>两张大床两张单人床</span> 
								<span>花园景观</span> 
								<span>两间餐厅</span> 
							</li>
							<li class="room-message-trird">
									<img src="../img/images/star.png">
							</li>
							<li class="room-message-last">
								<span><a href="javascript:void(0)">详情 ></a></span><br><br>
								￥<strong>260</strong>.00元
								<span>每晚均价（不包括服务费）</span>
								<button type="button"><a href="Order-settlement.html">立即预定</a></button>
							</li>
						</ul>
					</div>
				</li>
			</ul>

	
		</div>
		</div>
		
					
		</div>
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>

	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
	<script>
		$(function(e){
		
			 $( "#datepickerbegin" ).datepicker({
        dateFormat: 'yy-mm-dd' ,
        
    });
   		 $( "#datepickerend" ).datepicker({
        dateFormat: 'yy-mm-dd' ,
        
    });
        $.datepicker.regional['zh-CN'] = {  
        closeText: '关闭',  
        prevText: '<上月',  
        nextText: '下月>',  
        currentText: '今天',  
        monthNames: ['一月','二月','三月','四月','五月','六月',  
        '七月','八月','九月','十月','十一月','十二月'],  
        monthNamesShort: ['一','二','三','四','五','六',  
        '七','八','九','十','十一','十二'],  
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
        dayNamesMin: ['日','一','二','三','四','五','六'],  
        weekHeader: '周',  
        dateFormat: 'yy-mm-dd',  
        firstDay: 1,  
        isRTL: false,  
        showMonthAfterYear: true,  
        yearSuffix: '年'};  
    $.datepicker.setDefaults($.datepicker.regional['zh-CN']);  

		})
	</script>
	</body>
</html>
