<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/themeAttractions/holiday-hotel.css"/>
		<title>度假酒店——观云居</title>
	</head>
	<body>
	<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="traffic-map.html" class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
									<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="../themeAttractions/holiday-hotel.html " >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="holiday-hotel.html">观云居</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="../current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌节庆</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">两日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="../aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">企业风采</a></li>
									<li><a href="javascript:void(0)">人才招聘</a></li>
									<li><a href="javascript:void(0)">联系我们</a></li>
									<li><a href="javascript:void(0)">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">门票预订</a></li>
									<li><a href="javascript:void(0)">酒店预订</a></li>
									<li><a href="javascript:void(0)">纪念品</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="../personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">个人账户</a></li>
									<li><a href="../personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="holiday-hotel-nav">
			<img src="../img/animalimg/holiday-hotel-bg.png" width="100%">
		</div>
		
		<div class="bg-holiday">
			<div class="holiday-hotel-main">
				<p>每次去欢乐大世界，有一半都是对这次入住“临时的家”的期待。观云居该是最不缺少风格的酒店，无论是酒店设计还是服务，层出不
穷的新体验让人感慨“永远都追不上”。
这一次，小绿酱毫不扭捏地分享，展示给每一位到来的客人，散发出来的光彩与内涵真让人着迷，相信也是所有“设计癖”，或是对美
好生活向往的游客，在观云居落脚的绝好栖所。</p>
			<span>
				<img src="../img/animalimg/holiday-hotel01.png">
			</span>
				<p>
					洁白的大理石底面与抛光的白色珍珠威尼斯灰石膏墙壁，斑斓色调的金饰与深绿色的室内棕榈树，令人想起好莱坞黄金时代那种标志的
聚会地点。它像是海滩上的私人乐园，集市咖啡馆、海洋酒吧、斗牛士房间以及夜生活俱乐部。这里将奢华变成一种标准，温暖的木质饰
面以及休闲风格的海滩别墅风格给人以“庇护所”的感觉，提供“一切你需要和你想要的东西”。
				</p>
			<span>
				<img src="../img/animalimg/holiday-hotel02.png">
			</span>
				<p>
				本设计运用了大量的农家风味元素，能给以顾客一种亲切、自然、朴实的感觉，但平和、朴实的装饰之中也不失大气。
				餐厅本来就是给人消费的场所，消费不仅仅是物质上的消费，也是精神上的消费。在顾客享用餐厅独特风味美食的同时也不忘前辈们、劳作人民的辛勤劳作，饮水思源，让顾客体会到那份劳动的快乐、丰收的喜悦，这也是一种精神上的收获。
				所以餐厅在满足人们日常生活消费需要的同时更要在精神层面上要有更深远的意义，这样的设计才是有生命的设计。
				</p>
			<span>
				<img src="../img/animalimg/holiday-hotel03.png">
			</span>
				<p>
				<h4>版权声明：</h4>
本文系欢乐大世界原创内容，如需转载请注明编者、出处，并保留文章在欢乐大世界（www.happyworlds.cn）的完整链接，谢谢！
				</p>
			</div>
		</div>
		
		<!--底部-->
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
	<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/hover.js"></script>
	</body>
</html>
