<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="../css/index.css"  rel="stylesheet"/>
		<link href="../css/themeAttractions/hotel-reservation.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/themeAttractions/gyj-hotel.css" />
		<link rel="stylesheet" href="../css/jquery-ui.css">
		<title>观云居酒店预订详情</title>
	</head>
	<body>
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../index.html" id='1'  target="_parent" >主题景点</a></div>
								<ul class="hidden-nav">
									<li><a href="Theme-animal.html">动物欢乐大世界</a></li>
									<li><a href="Ocean.html">海洋欢乐大世界</a></li>								
								</ul>
							</li>
							<li>
								<div class="nav-title"  ><a href="#">度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="gyjhotel.html">观云居</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="../aboutus/about-us.html" >关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="hotelReservation">
				<div class="hotel-time">
			<ul>
				<li>
						入住<span><input type="text" id="datepickerbegin" placeholder="点击选择日期"></span>
				</li>
				<li>
						退房<span><input type="text" id="datepickerend" placeholder="点击选择日期"></span>
				</li>
				<li>
						房间 
						<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						</select>
				</li>
				<li>
						成人
						<select>
						<option>1人</option>
						<option>2人</option>
						<option>3人</option>
						<option>4人</option>
						<option>5人</option>
						</select>
				</li>
				<li>
						儿童
						<select>
						<option>1人</option>
						<option>2人</option>
						<option>3人</option>
						<option>4人</option>
						<option>5人</option>
						</select>
				</li>
			</ul>
		</div>
			
			<div class="hotel-reser">
			
			
				<div class="hotel-room-details">
					<ul>
						<li>
							<div class="room-img">
								<img src="../img/animalimg/hreserv01.png" alt="" />
							</div>
							
							<div class="room-introduction">
								<strong>观云居标准套房</strong><i><img src="../img/images/star.png"></i><br>
								<p>
									房间设有两张大床两张单人床，房间设备齐全。离最近海洋公园仅需步行2分钟!可直接前往动物馆，
									儿童乐园等景点。距离儿童乐园步行5分钟，在这里能直接买到各种游乐周边产品！周边餐厅、生活
									十分便利！
								</p>
								<div class="room-sale">
								￥<strong>430</strong>.00元
								<span>每晚均价（不包括服务费）</span>
								<button type="button"><a href="Order-settlement.html">立即预定</a></button>
								</div>
							
							</div>
						</li>
						
						<h3>房间展示</h3>
						<li>
							<ol>
								<li><img src="../img/animalimg/hreserv02.png"></li>
								<li><img src="../img/animalimg/hreserv03.png"></li>
								<li><img src="../img/animalimg/hreserv04.png"></li>
								<li><img src="../img/animalimg/hreserv05.png"></li>
							</ol>
								<div class="clearfix"></div>
						</li>
						
						<li>
							<div class="hotel-img">
								<img src="../img/animalimg/house.png"/>
									
							<p>
								<span>酒店简介</span>
								观云居的总统套房拥有令人沉醉的景色，面积达300多平方米，内部装饰设计是低调优雅的缩影，灵活运用夜空蓝色与深色木制地板和墙壁搭配，力求捕捉自然与现代的永恒魅力。入住套房的宾客拥有充足的空间放松享乐，宽敞的客厅、餐厅、书房、厨房一应俱全。卧室优雅舒适，带有步入式衣帽间，浴室设计无可挑剔，卫浴区设有按摩浴缸，带有步入式淋浴间和双人洗手池。
							</p>
							</div>
							<div class="clearfix"></div>
						</li>
				
						<li>
							<div class="hotel-img">
								<img src="../img/animalimg/file.png"/>
									
							<p>
								<span>酒店规定</span>
								宾客于客房内及度假区酒店内多个公共区域均可享受免费无线网络连接，其中包括酒店大堂主要区域及各家餐厅。
							</p>
							</div>
							<div class="clearfix"></div>
						</li>
						
						<li>
							<div class="hotel-img">
								<img src="../img/animalimg/wifi.png"/>
									
							<p>
								<span>无线网络连接</span>
								宾客于客房内及度假区酒店内多个公共区域均可享受免费无线网络连接，其中包括酒店大堂主要区域及各家餐厅。
							</p>
							</div>
							<div class="clearfix"></div>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		
		
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>

	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
		<script>
		$(function(e){
		
			 $( "#datepickerbegin" ).datepicker({
        dateFormat: 'yy-mm-dd' ,
        
    });
   		 $( "#datepickerend" ).datepicker({
        dateFormat: 'yy-mm-dd' ,
        
    });
        $.datepicker.regional['zh-CN'] = {  
        closeText: '关闭',  
        prevText: '<上月',  
        nextText: '下月>',  
        currentText: '今天',  
        monthNames: ['一月','二月','三月','四月','五月','六月',  
        '七月','八月','九月','十月','十一月','十二月'],  
        monthNamesShort: ['一','二','三','四','五','六',  
        '七','八','九','十','十一','十二'],  
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
        dayNamesMin: ['日','一','二','三','四','五','六'],  
        weekHeader: '周',  
        dateFormat: 'yy-mm-dd',  
        firstDay: 1,  
        isRTL: false,  
        showMonthAfterYear: true,  
        yearSuffix: '年'};  
    $.datepicker.setDefaults($.datepicker.regional['zh-CN']);  

		})
	</script>
	</body>
</html>
