<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>主题景点-海洋欢乐大世界</title>
		<link rel="stylesheet" href="../css/index.css" />
		<link rel="stylesheet" href="../css/bannercss/index-banner.css" />
		<link href="../css/themeAttractions/ocean.css" />
		<link rel="stylesheet" href="../css/themeAttractions/theme-animal.css">
	</head>
	<body>
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../index.html" >主题景点</a></div>
								<ul class="hidden-nav">
									<li><a href="Theme-animal.html">动物欢乐大世界</a></li>
									<li><a href="Ocean.html">海洋欢乐大世界</a></li>
														
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="#">度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="gyjhotel.html">观云居</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html">缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="#" >完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="#">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="../personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	
		<div class="animal-nav">
			<img src="../img/animalimg/ocean-bg.png"  width="100%">
			 <div class="ocean-left"></div>
             <div class="ocean-right"></div>
		</div>
		
		<div class="animal-title" id="animal-title2">
			<div class="animal-content">
				<ul>
				<li>
					<div class="animal-hover-img"><img src="../img/animalimg/ocean01.png"></div>
					<div class="animal-art">
						<p>
							<strong>海豚表演区</strong><br><br>
						乐园海洋馆保护的数头海豚聪明、温顺、敏捷，每头体重250-300公斤不等，身长2.5-3.0米左右。每天每头需吃鱼
						25-30公斤。在驯养师的引导下，能够表演：唱歌、跳舞、转呼啦圈、双豚抱球、高空顶彩球、"浪漫骑士"、"飞旋舞步"
						等20多个新奇精彩的节目。每场节目提供难得的海豚与小朋友亲密合照的环节，是来天柱山欢乐大世界不容错过的精彩表演。
						</p>
						
					</div>
				</li>
				<li>
					<div class="animal-art">
						<p>
							<strong>虎鲨遨游区</strong><br><br>
						来天柱山不可错过的赞叹热点，四头自然野性的大型虎鲨呈载于高18米，长宽超过40米的巨型玻璃缸，缸壁最厚处到达
						30厘米，载水量超过一万四千顿。四头大型虎鲨平均长度超过四米，单头重量超过110公斤，是所有鲨鱼种类中唯一一种
						鲨鱼会吞下及储存空气在胃部，以控制其浮潜。食物主要有硬骨鱼（包括大海鲈）、其他鲨鱼及鱼、鱿鱼、蟹及龙虾。
						</p>
					</div>
					<div class="animal-hover-img"><img src="../img/animalimg/ocean02.png"></div>
				</li>
				
				<li>
					<div class="animal-hover-img"><img src="../img/animalimg/ocean03.png"></div>
					<div class="animal-art">
						<p>
							<strong>生态展示缸</strong><br><br>
						千奇百怪的生物体中存在很多神器的机能，它们都是数百万年不断演化的结晶。此展提炼了水生生物的自身特性和它在自然界
						中的特殊的万千瑰丽色彩与各种形状风情万种，与各种海洋植物珊瑚相结合，展示了大自然海洋的多彩与生命。通过欣赏群鱼斗艳，
						游客将进一步地领会大自然的奥秘。
						</p>
						
					</div>
				</li>
				
				<li>
					<div class="animal-art">
						<p>
							<strong>鲤鱼池休闲区</strong><br><br>
						坐落于虎鲨遨游区旁，占地800平方米，以小桥流水及鲤鱼造型喷泉建构在广阔山水中的一块山水之地，池中保存不同颜色数种
						锦鲤，大小颜色形态各异，悠游于廊桥水岸之旁令人目不暇接。池畔环绕数条观山步道，拾阶而上可登高望山谷青葱壮丽，驻足可观
						奇岩巨石遍布山林之间，适合阖家远眺或留影。延步道转回锦鱼池畔可使用智慧服务机构买鱼食，欣赏众鱼争食的数大之美。
						</p>
					</div>
					<div class="animal-hover-img"><img src="../img/animalimg/ocean04.png"></div>
				</li>
				
				
					<li>
						<div class="animal-hover-img"><img src="../img/animalimg/ocean05.png"></div>
					<div class="animal-art">
						<p>
							<strong>史前动物馆</strong><br><br>
						自然的山谷地貌，加上人工修饰的瀑布、河流、湖泊，和以大量的侏罗纪时期的植物景观营造出翠绿的山谷、茂密的丛林、壁立的
						山崖、从山崖上跌宕而下的大瀑布，在谭边和丛林里饮水觅食的恐龙、在沙丘边沼泽地追逐争斗的恐龙、高大的树林里若隐若现的巨大
						梁龙。真实再现了侏罗纪时代恐龙王国的生活场景，构造出一个1亿年前生气勃勃、繁荣昌盛的侏罗纪世界让游客饱享一顿视觉大餐。
						</p>
						
					</div>
				</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		
		
		
	
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
	
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
	
	</body>
</html>
