<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link href="../css/themeAttractions/hotel-reservation.css" rel="stylesheet">
		<link rel="stylesheet" href="../css/themeAttractions/gyj-hotel.css" />
		<link rel="stylesheet" href="../css/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="../css/themeAttractions/order-settlement.css"/>
		<title>订单结算</title>
	</head>
	<body>
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../index.html" id='1'  target="_parent" >主题景点</a></div>
								<ul class="hidden-nav">
									<li><a href="Theme-animal.html">动物欢乐大世界</a></li>
									<li><a href="Ocean.html">海洋欢乐大世界</a></li>								
								</ul>
							</li>
							<li>
								<div class="nav-title"  ><a href="holiday-hotel.html">度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="holiday-hotel.html">观云居</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="../current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌节庆</a></li>
	
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="../perfect-holiday/perfect-holiday.html">二日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="../aboutus/about-us.html" >关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="../aboutus/about-us.html">企业风采</a></li>
									<li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
									<li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
									<li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../login.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="../personalCenter/setting.html">个人中心</a></li>
									<li><a href="../personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="hotelReservation">
				<div class="hotel-time">
			<ul>
				<li>
						入住<span><input type="text" id="datepickerbegin" placeholder="点击选择日期"></span>
				</li>
				<li>
						退房<span><input type="text" id="datepickerend" placeholder="点击选择日期"></span>
				</li>
				<li>
						房间 
						<select>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						</select>
				</li>
				<li>
						成人
						<select>
						<option>1人</option>
						<option>2人</option>
						<option>3人</option>
						<option>4人</option>
						<option>5人</option>
						</select>
				</li>
				<li>
						儿童
						<select>
						<option>1人</option>
						<option>2人</option>
						<option>3人</option>
						<option>4人</option>
						<option>5人</option>
						</select>
				</li>
			</ul>
		</div>
				
				<div class="order-settlement">
					<h2>订单结算</h2>
					<div class="order">
						<div class="order-left">
							<div class="house2">
								<span>
								<img src="../img/animalimg/house2.png"/>
								<i><strong>酒店房间</strong></i>
								<a href="javascript:void(0)">更改</a>
								</span>
								
								<div class="houseprice">
									<ul>
										<li>
									 		<i>玩具总动员酒店</i>
									 		<i>花园景观房</i>
									 		<i>2017年02月28日 - 2017年03月01日</i>
									 		<i>房间 1</i>
									 		<i>1 宾客， 0 儿童</i>
									 		<i>房间价格 ： ￥850.00 元</i>
									 		<i>服务费： ¥127.50 元</i>
									 		<i>日期&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每间客房每晚价格</i>
									 		<i>2017年02月28日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ¥850.00 元</i>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="house2">
								<span>
								<img src="../img/animalimg/house301.png"/>
								<i><strong>宾客信息</strong></i>
								<a href="javascript:void(0)">更改</a>
								</span>
								
								<div class="houseprice">
									<ul>
										<li>
									 		<i>下方所填宾客姓名必须和其中一位18岁以上成人入住人一致。</i>
									 		<i>我们已根据您的帐户信息预填了您的宾客信息，您可以根据实际情况进行编辑。请阅读并同意预订条款及细则</i>
									 		<i>姓名         : <input type="text"></i>
									 		<i>手机号码 : <input type="text"></i>
									 		<i>电子邮箱 : <input type="text"></i>
									 		<i><input type="checkbox" class="checking">我已阅读并同意该条款及细则</i>
									 		<div class="clearfix"></div>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="house2">
								<span>
								<img src="../img/animalimg/house302.png"/>
								<i><strong>付款方式</strong></i>
								<a href="javascript:void(0)">更改</a>
								</span>
								
								<div class="houseprice">
									<ul>
										<li>
									 		<i>支付 截至今日: ¥977.50 元</i>
									 		<i>请选择付款方式</i>
									 		<i><input type="checkbox" class="sale-function">银联卡</i>
									 		<i><input type="checkbox" class="sale-function">支付宝</i>
									 		<i><input type="checkbox" class="sale-function">微信</i>
									 		<i><button type="button"><a href="reservationDetails.html">立即付款</a></button></i>
									 		<div class="clearfix"></div>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="qwe"><h5>履行订单须在酒店进行，宾客必须年满18周岁才能下单。</h5></div>

						</div>
						
						<div class="order-right">
							<h2>价格明细</h2>
							<ul>
								<li>酒店房间 ￥<span>850.00</span>元</li>
								<li>服务费 ￥<span>127.50</span>元</li>
								<li>主题乐园门票 ￥<span>0.00</span>元</li>
							</ul>
							<h3>订单总价  ￥<span>977.50</span>元</h3>
							<div class="clearfix"></div>
						</div>
						

					</div>
				</div>
			
		</div>
		
		
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>

	<script src="../js/jquery-3.1.1.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
		<script>
		$(function(e){
		
			 $( "#datepickerbegin" ).datepicker({
        dateFormat: 'yy-mm-dd' ,
        
    });
   		 $( "#datepickerend" ).datepicker({
        dateFormat: 'yy-mm-dd' ,
        
    });
        $.datepicker.regional['zh-CN'] = {  
        closeText: '关闭',  
        prevText: '<上月',  
        nextText: '下月>',  
        currentText: '今天',  
        monthNames: ['一月','二月','三月','四月','五月','六月',  
        '七月','八月','九月','十月','十一月','十二月'],  
        monthNamesShort: ['一','二','三','四','五','六',  
        '七','八','九','十','十一','十二'],  
        dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],  
        dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],  
        dayNamesMin: ['日','一','二','三','四','五','六'],  
        weekHeader: '周',  
        dateFormat: 'yy-mm-dd',  
        firstDay: 1,  
        isRTL: false,  
        showMonthAfterYear: true,  
        yearSuffix: '年'};  
    $.datepicker.setDefaults($.datepicker.regional['zh-CN']);  

		})
	</script>
	<script type="text/javascript">
		$(function(){
//			付款方式监听
			$(".sale-function").on("click",function(){
				if ($(this).prop("checked")==true) {
					$(this).parent().siblings().find(".sale-function").prop("checked",false);
				}
			})
		})
	</script>
	</body>
</html>