<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link href="../css/index.css"  rel="stylesheet"/>
		<link href="../css/themeAttractions/hotel-reservation.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/themeAttractions/reservationdetails.css"/>
		<title>房间预订详情</title>
	</head>
	<body>
		
			<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../index.html">主题景点</a></div>
								<ul class="hidden-nav">
									<li><a href="Theme-animal.html">动物欢乐大世界</a></li>
									<li><a href="Ocean.html">海洋欢乐大世界</a></li>									
								</ul>
							</li>
							<li>
								<div class="nav-title"  ><a href="#">度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="gyjhotel.html">观云居</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="#" >关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		
		<div class="ticket-bg">
			<div class="resevation-details">
				<h2><img src="../img/images/ok.png" style="margin-right:20px;">订单付款成功</h2>
				<div class="customer-information">
					<div class="customer-left">
						<article>
							<h3>游客信息</h3>
							<div class="ticket-salemes">
								<ul>
									<li>订单号 :<span>5784-BD245</span></li>
									<li>姓 :<span>JESSICA</span></li>
									<li>名字 :<span>BROWN</span></li>
									<li>电子邮件地址 :<span>INFO@JESSICA.COM</span></li>
									<li>地址 :<span>353 THIRD FLOOR AVENUE</span></li>
									<li>电话号码 :<span>75800-875</span></li>
								</ul>
							</div>
						</article>
						<div class="clearfix"></div>
						<div class="disclaimer">
							<h4>乐园门票免责声明</h4>
							<p>
								非因法定事由且未经许可，门票及其他尊享礼遇不可转让及退款。门票及其他尊享礼遇一经改动立即作废。门票不适用于另行收费的特别活动。
门票仅可在尚有余票的情况下，于有效日的两日前更换一次。从第三方经销商购票的游客必须在同一经销商处完成更换或更改事宜。我们有权
不经提前通知而更改乐园或乐园内任何游乐项目的开放时间、临时关闭乐园或乐园内的任何部分区域、控制入园人数、暂停或取消任何游乐项
目或娱乐演出。入园时或要求提供身份和资格证明。进入厦门天柱山欢乐大世界须遵守乐园的《游客须知》，可通过我们的网站(https://www.
happyworlds.cn)获取。门票仅供本人在有效期内使用。我们可在乐园内摄像、摄影和/或录音,并在法律允许的范围内合理使用这些可能包含
乐园游客肖像和/或声音的影像和/或录音而无需支付任何费用。我们不对由于电脑错误或者未经授权的乐园门票的复制或销售导致的损失负责。
请至厦门天柱山欢乐大世界官网查看完整的乐园购票须知。
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
					
					<div class="customer-right">
						<h3>价格明细</h3>
							<ul>
								<li>酒店房间 ￥<span>850.00</span>元</li>
								<li>服务费 ￥<span>127.50</span>元</li>
								<li>主题乐园门票 ￥<span>0.00</span>元</li>
							</ul>
							<h3>订单总价  ￥<span>977.50</span>元</h3>
							<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
				
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		
		
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
	</body>
</html>
