<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>主题景点-森林动物园</title>
		<link rel="stylesheet" href="../css/index.css" />

		<link rel="stylesheet" href="../css/themeAttractions/theme-animal.css">
	</head>
	<body>
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../traffic-map.html"  class="nav-bg">主题景点</a></div>
								<ul class="hidden-nav">
									<li><a href="Theme-animal.html">动物欢乐大世界</a></li>
									<li><a href="Ocean.html">海洋欢乐大世界</a></li>
											
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="holiday-hotel.html">观云居</a></li>
									
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="../current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌假日</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../perfect-holiday/perfect-holiday.html" >完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="../aboutus/about-us.html" >关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="../aboutus/about-us.html">企业风采</a></li>
									<li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
									<li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
									<li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" >线上商城</div>
								<ul class="hidden-nav">
								
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="../login.html"></a>个人中心</div>
								<ul class="hidden-nav">
									<li><a href="../personalCenter/setting.html">个人账户</a></li>
									<li><a href="../personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		<div class="animal-nav" id="animal-nav1">
			<img src="../img/animalimg/animal-bg1.png"  width="100%">
			<div class="animal-font1" style="display: none;"><img  src="../img/animalimg/animalfont1.png"></div>
			<div class="clearfix"></div>
		</div>
		
		<div class="animal-title">
			<div class="animal-content">
				<ul>
				<li>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals01.png">
					</div>
					<div class="animal-art">
						<p>
							<strong>食草动物区</strong><br><br>
						以沉浸式山林场景呈现包含亚洲象、各种亚洲猿猴、花鹿、等十余种温顺食草动物的自然生态生活习性，
						附带有开放游客以胡萝卜喂食等互动近距离接触自然动物的美丽与祥和。
						</p>
						
					</div>
				</li>
				<li>
					<div class="animal-art">
						<p>
							<strong>野生猛兽区</strong><br><br>
						在山林的高低坡谷之间呈现亚洲狮及亚洲虎等世界级保育动物的自然习性，体验野生食物链顶端的王者姿态，
						并且定时进行喂食表演等动态活动进一步展现现代生活中难以见到的生活韵动。
						</p>
					</div>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals02.png">
					</div>
				</li>
				
				<li>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals03.png">
					</div>
					<div class="animal-art">
						<p>
							<strong>可爱动物动物区</strong><br><br>
						悠游于绿色步道边自然而然的与各种小型动物如小野猪、鸽子、兔子、小羊、等小动物亲切互动，适合
						亲子儿童一起籍由触摸与互动认识大自然世界小动物们，从小学习与自然和平公处。
						</p>
						
					</div>
				</li>
				
				<li>
					<div class="animal-art">
						<p>
							<strong>袖珍动物区</strong><br><br>
						在园区特别营造的小小自然生态圈中欣赏各种难得一见的袖珍动物，如身高不足15厘米的吉娃娃
						，小如5厘米的罗波夫斯基鼠。长仅10厘米左右的黑顶侏儒猴、以及只有8厘米长的袖珍小龟等，欣赏
						袖珍动物的可爱的同时赞叹大自然的奇妙与瑰丽。
						</p>
					</div>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals04.png">
						<div class="animal-font2" style="display: none;"><img  src="../img/animalimg/animalfont2.png"></div>
					</div>
				</li>
				
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		
		
		
		<div class="animal-nav" id="animal-nav2" style="position:relative;">
			<img src="../img/animalimg/animal-bg2.png" width="100%">
			<div class="animal-font2" style="position:absolute;top:25%;right:30%;width:15%;height:22%;display: none;"><img  src="../img/animalimg/animalfont2.png"></div>
		</div>
		
				<div class="animal-title" id="animal-title">
			<div class="animal-content" >
				<ul>
				<li>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals05.png">
					</div>
					<div class="animal-art">
						<p>
							<strong>观山步道</strong><br><br>
						天柱山纵横八方的观山步道为最早开始建设的项目之一，2011年，中国著名旅游策划专家石培华先生造访
						天柱山风景区。他在游览了天柱山新游线以后由衷地赞道："天柱山的游览步道建设堪称中国山岳景区第一路"。
						随后他笑谈说"黄山天下无山"，那么"天柱山是'天上有山'"。因为天柱山的游览步道都修在高高的山脊线上，人走在
						这样的游览步道看"云中天柱"体验"登天之旅"。
						</p>
						
					</div>
				</li>
				<li>
					<div class="animal-art">
						<p>
							<strong>跨山吊桥</strong><br><br>
						总厂约200米，横跨于海拔1000米以上的山谷之间，回风吹拂，桥面微晃，在桥上看风景，
						视野及其开阔，两边的山一直蔓延着同远处的融在了一起。吊桥八方荫绿青葱，下方遍布数种经过
						百十年自然生长的国家二级保护楠木，其他更有1500多种植物，1000余公顷天然次生林，行走于树梢之巅
						有如俯视热带丛林。
						</p>
					</div>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals06.png">
					</div>
				</li>
				
				<li>
					<div class="animal-hover-img">
						<img src="../img/animalimg/animals07.png">
					</div>
					<div class="animal-art">
						<p>
							<strong>横谷索道</strong><br><br>
						总长约200米，籍由山谷之间约30的高低差，以单人滑行索道横跨于海拔1000米以上的山谷之间，体验每小时12公里的速度
						穿型翱翔于空中的刺激感。
						</p>
						
					</div>
				</li>
				
			
				
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
	
	<script src="../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
	<script>
		$(function(){
			$(".animal-font1").fadeIn(700).animate({
				marginTop:"150px"
			},1200);
			$(".animal-font2").fadeIn(1500).animate({
				marginTop:"50px"
			},3000);
		})
	</script>
	</body>
</html>
