.main-left ,.main-right{
    float:left;
    margin-left:20px;
    background-color:#fff;
}
.main-left {
    width:250px;
    border:1px solid #ebebeb;
}
.main-right {
    width:680px;
}
.main-left-top {
    padding:20px;
}
.head-portrait {
    float:left;
    width:60px;
    height:60px;
    margin-right:25px;
    border-radius:50%;
}
.main-left-info {
    float:left;
    width:120px;
}
.main-left-name {
    width:100%;
    line-height:30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size:14px;
    color:#333;
}
.main-left-operation {
    margin-top:6px;
}
.main-left-operation span {
    display: block;
    float:left;
    height:24px;
    padding:0 8px;
    border-left:1px solid #e5e5e5;
}
/*小图标*/
.main-left-icon {
    display: block;
    margin-top:2px;
    background:url(../../img/personal_center_icon.png)  no-repeat;
}
.sex-icon{height:14px;width:14px;background-position:0 -22px;}
.sex-selected-icon{height:14px;width:15px;background-position:-16px -22px;}
.set-icon{height:20px;width:20px;background-position:-74px 0;}
.bell-icon{height:20px;width:20px;background-position:-22px 0;}
.gear-icon{height:20px;width:20px;background-position:0 0;}
.notice-icon{height:20px;width:20px;background-position:-96px 0;}
.crown-icon{height:20px;width:28px;background-position:-44px 0;}
.rights-icon{height:20px;width:28px;background-position:-116px 0;}
.main-left-content {
    padding-left:20px;
    line-height:34px;
    border-top:1px solid #ebebeb;
}
.main-left-title {
    font-size:14px;
    color:#333;
}
.main-left-list {
    float:left;
    width:5px;
    height:5px;
    margin:14px 10px;
    border-radius:50%;
    background-color:#cacaca;
}
.main-left-message {
    float:left;
}
.main-left-message a {
    color:#525252;
}
#main-right-iframe {
    width:680px;
    height:1088px;
    border:0;
}
.main-right-title {
    padding:15px 20px;
    font-size:14px;
    color:#000;
}
.main-right-img {
    width:640px;
    height:497px;
    margin:0 auto;
}
.main-right-content {
    width:385px;
    min-height:160px;
    margin:20px auto;
    padding-left:215px;
    padding-right:40px;
    background:url(../../img/parent_child_card.jpg) no-repeat;
    background-position:40px 0;
    color:#333;
}
.main-right-second {
    background:url(../../img/happy_card.jpg) no-repeat;
    background-position:40px 0;
}
.main-right-third {
    background:url(../../img/whole_family_card.jpg) no-repeat;
    background-position:40px 0;
}
.main-right-licon {
    float:left;
    width:7px;
    height:16px;
    border-top:1px solid #fe0070;
    border-left:1px solid #fe0070;
}
.main-right-ricon {
    float:left;
    margin-top:4px;
    width:7px;
    height:16px;
    border-bottom:1px solid #fe0070;
    border-right:1px solid #fe0070;
}
.main-right-card {
    float:left;
    line-height:20px;
    font-weight:100;
    font-size:20px;
    color:#fe0070;
}
.main-right-info {
    position:relative;
    line-height:30px;
    font-size:16px;
    border-bottom:4px solid #b8ac9b;
}
.main-right-info:after {
    content:'';
    position:absolute;
    bottom:-4px;
    left:0;
    width:60px;
    height:4px;
    background-color:#64513d;
}
.main-right-message {
    margin-top:5px;
    line-height:24px;
    font-size:14px;
}


