.active-box{
	padding:50px 0;
}
.active-title{
	width:370px;
	height:60px;
	line-height:60px;
	margin:0 auto;
	text-align: center;
}
.active-title img{
	vertical-align: middle;
	padding-bottom: 10px;
}
.active-title span{
	color:white;
	font-size:28px;
	font-family: "微软雅黑";
	text-shadow: ;
}
.active-details{
	width:1000px;
	background:white;
	margin:0 auto;
	margin-top:40px;	
	font-family: "微软雅黑";
}
.details-article{
	width:850px;
	margin: 0 auto;
	padding-top:10px;
	padding-bottom: 50px;
	text-align: center;
	font-family: "微软雅黑";
	color:gray;
}
.details-article h2{font-family: "微软雅黑";}
.time-site{
	margin-top:20px;
	text-align: left;
	margin-bottom: 30px;
}
.details-article p{
	font-size:14px;
	margin-top:30px;
	width:80%;
	margin:0 auto;
	text-align: left;
	text-indent:1px;
	letter-spacing:3px;
}
.article-img{
	margin:20px auto;
}
.details-article h5{
	width:80%;
	margin:20px auto 50px;
	font-weight: 500;text-align: left;}
.active-go{
	width:62px;
	height:27px;
	display: block;
	line-height:27px;
	margin:0 auto ;
	background:gray;
	color:white;
	text-align: center;
	
}
