@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

.row-bot{width:100%;min-height:20px;background:url(../images/row-bot-tail2.gif) center top repeat-x;}


.carousel-container{position:relative;width:960px;margin:0 auto;}
#carousel{height:449px;width:960px;position:relative;}
.carousel-image{border:0;display:block;}
.carousel-feature{position:absolute;top:-1000px;left:-1000px;cursor:pointer;}
.poster-box{width:100%;height:100px;background: white;}
.poster-box h2{color:black;font-family: "微软雅黑";margin-left:10px;padding-top:5px;}
.poster-box h4{background:#0194fc;color:white;width:100%;height:36px;line-height:35px;display:inline-block;overflow-x: hidden; white-space: nowrap;text-overflow:ellipsis;margin:5px 0;}
.poster-box img{display: inline-block; margin:0 10px;vertical-align: middle;}
.poster-box p{
	overflow: hidden; 
	margin:0 auto;
	text-overflow:ellipsis;
	width:95%;
	height:40px;
	white-space: nowrap;
	color:gray;
	}