<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.happyworlds.imgmt.mapper.AclUserBrchsetMapMapper">

    <sql id="aclUserBrchsetMapBaseColumnSql">
        user_id,
        branch_set_id,
        sys_flag,
        modify_time,
        modify_by
    </sql>

    <sql id="aclUserBrchsetMapBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.userId)">
                    user_id = #{map.userId}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.branchSetId)">
                    AND branch_set_id = #{map.branchSetId}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.sysFlag)">
                    AND sys_flag = #{map.sysFlag}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.modifyTime)">
                    AND modify_time = #{map.modifyTime}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.modifyBy)">
                    AND modify_by = #{map.modifyBy}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertAclUserBrchsetMap" parameterType="cn.happyworlds.imgmt.entity.AclUserBrchsetMap">
        INSERT INTO acl_user_brchset_map(
        <include refid="aclUserBrchsetMapBaseColumnSql"/>
        )VALUES(
            #{userId},
            #{branchSetId},
            #{sysFlag},
            #{modifyTime},
            #{modifyBy}
        )
    </insert>
        
    <delete id="deleteAclUserBrchsetMapByUserId" parameterType="String">
        DELETE FROM acl_user_brchset_map WHERE user_id = #{userId}
    </delete>

    <select id="deleteAclUserBrchsetMapByParams" parameterType="map">
        DELETE FROM acl_user_brchset_map
        <include refid="aclUserBrchsetMapBaseWhereSql"/>
    </select>

    <update id="updateAclUserBrchsetMap" parameterType="cn.happyworlds.imgmt.entity.AclUserBrchsetMap">
        UPDATE acl_user_brchset_map
        <set>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(branchSetId)">
                branch_set_id = #{branchSetId} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(sysFlag)">
                sys_flag = #{sysFlag} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(modifyTime)">
                modify_time = #{modifyTime} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(modifyBy)">
                modify_by = #{modifyBy}
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <update id="updateAclUserBrchsetMapByParams" parameterType="map">
        <if test="map!=null">
            UPDATE acl_user_brchset_map
            <set>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.branchSetId)">
                    branch_set_id = #{map.branchSetId} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.sysFlag)">
                    sys_flag = #{map.sysFlag} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.modifyTime)">
                    modify_time = #{map.modifyTime} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.modifyBy)">
                    modify_by = #{map.modifyBy}
                </if>
            </set>
            <where>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.userIdCondition)">
                    user_id = #{map.userIdCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.branchSetIdCondition)">
                    AND branch_set_id = #{map.branchSetIdCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.sysFlagCondition)">
                    AND sys_flag = #{map.sysFlagCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.modifyTimeCondition)">
                    AND modify_time = #{map.modifyTimeCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.modifyByCondition)">
                    AND modify_by = #{map.modifyByCondition}
                </if>
            </where>
        </if>
    </update>

    <select id="searchAclUserBrchsetMapByUserId" parameterType="String" resultMap="aclUserBrchsetMapMap">
        SELECT
        <include refid="aclUserBrchsetMapBaseColumnSql"/>
        FROM acl_user_brchset_map
        WHERE user_id = #{userId}
    </select>

    <select id="searchAclUserBrchsetMapByParams" parameterType="map" resultMap="aclUserBrchsetMapMap">
        SELECT
        <include refid="aclUserBrchsetMapBaseColumnSql"/>
        FROM acl_user_brchset_map
        <include refid="aclUserBrchsetMapBaseWhereSql"/>
        <if test="map!=null">
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.ORDER_BY)">
                ORDER BY #{map.ORDER_BY}
            </if>
        </if>
    </select>

    <resultMap type="cn.happyworlds.imgmt.entity.AclUserBrchsetMap" id="aclUserBrchsetMapMap">
        <id column="user_id" property="userId"/>
        <result column="branch_set_id" property="branchSetId"/>
        <result column="sys_flag" property="sysFlag"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_by" property="modifyBy"/>
    </resultMap>

</mapper>
