<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.happyworlds.imgmt.mapper.CpIndaccMapper">

    <sql id="cpIndaccBaseColumnSql">
        CB_INDIVIDUAL_ACCTNO,
        CB_INDIVIDUAL_ACCT_TYPE,
        CB_PRODUCT_CD,
        CB_FIN_ACCTNO,
        CB_LINE_LIMIT,
        CB_TEMP_LINE_LIMIT,
        CB_TEMP_START_DATE,
        CB_TEMP_END_DATE,
        CB_OUTSTD_BAL,
        CB_FEE_WAIVER_SPEND,
        CB_IND_CARDHOLDER_NO,
        CB_ACCT_CLASS,
        CB_CUSTOMER_ID,
        CB_BRANCH_ID,
        CB_ACCT_REF_NO,
        CB_OPEN_DATE,
        CB_CLOSE_DATE,
        CB_ACRU_INTEREST,
        CB_LAST_INT_DATE,
        CB_ACCT_STATUS,
        CB_ACCT_AGE_CD,
        CB_FATHER_INDACC,
        CB_EXTERNAL_ACCT,
        CB_INT_RULE,
        CB_MNGFEE_RULE,
        CB_STATEMENT_RULE,
        CB_NEXT_STM_DATE,
        CB_BLOCK_BAL,
        CB_CURRENCY_CODE,
        CB_ODINT_RULE,
        CB_PENALTY_RULE,
        CB_OD_START_DATE,
        CB_BILL_CYCLE,
        CB_LAST_FINHST_SEQ,
        CB_PENALTY_IND,
        CB_OD_GROUPID,
        CB_EXTERNAL_BRANCH,
        CHECKSUM
    </sql>

    <sql id="cpIndaccBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndividualAcctno)">
                    CB_INDIVIDUAL_ACCTNO = #{map.cbIndividualAcctno}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndividualAcctType)">
                    AND CB_INDIVIDUAL_ACCT_TYPE = #{map.cbIndividualAcctType}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbProductCd)">
                    AND CB_PRODUCT_CD = #{map.cbProductCd}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFinAcctno)">
                    AND CB_FIN_ACCTNO = #{map.cbFinAcctno}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLineLimit)">
                    AND CB_LINE_LIMIT = #{map.cbLineLimit}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempLineLimit)">
                    AND CB_TEMP_LINE_LIMIT = #{map.cbTempLineLimit}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempStartDate)">
                    AND CB_TEMP_START_DATE = #{map.cbTempStartDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempEndDate)">
                    AND CB_TEMP_END_DATE = #{map.cbTempEndDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOutstdBal)">
                    AND CB_OUTSTD_BAL = #{map.cbOutstdBal}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFeeWaiverSpend)">
                    AND CB_FEE_WAIVER_SPEND = #{map.cbFeeWaiverSpend}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndCardholderNo)">
                    AND CB_IND_CARDHOLDER_NO = #{map.cbIndCardholderNo}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctClass)">
                    AND CB_ACCT_CLASS = #{map.cbAcctClass}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCustomerId)">
                    AND CB_CUSTOMER_ID = #{map.cbCustomerId}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBranchId)">
                    AND CB_BRANCH_ID = #{map.cbBranchId}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctRefNo)">
                    AND CB_ACCT_REF_NO = #{map.cbAcctRefNo}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOpenDate)">
                    AND CB_OPEN_DATE = #{map.cbOpenDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCloseDate)">
                    AND CB_CLOSE_DATE = #{map.cbCloseDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcruInterest)">
                    AND CB_ACRU_INTEREST = #{map.cbAcruInterest}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLastIntDate)">
                    AND CB_LAST_INT_DATE = #{map.cbLastIntDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctStatus)">
                    AND CB_ACCT_STATUS = #{map.cbAcctStatus}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctAgeCd)">
                    AND CB_ACCT_AGE_CD = #{map.cbAcctAgeCd}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFatherIndacc)">
                    AND CB_FATHER_INDACC = #{map.cbFatherIndacc}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbExternalAcct)">
                    AND CB_EXTERNAL_ACCT = #{map.cbExternalAcct}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIntRule)">
                    AND CB_INT_RULE = #{map.cbIntRule}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbMngfeeRule)">
                    AND CB_MNGFEE_RULE = #{map.cbMngfeeRule}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbStatementRule)">
                    AND CB_STATEMENT_RULE = #{map.cbStatementRule}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbNextStmDate)">
                    AND CB_NEXT_STM_DATE = #{map.cbNextStmDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBlockBal)">
                    AND CB_BLOCK_BAL = #{map.cbBlockBal}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCurrencyCode)">
                    AND CB_CURRENCY_CODE = #{map.cbCurrencyCode}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdintRule)">
                    AND CB_ODINT_RULE = #{map.cbOdintRule}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbPenaltyRule)">
                    AND CB_PENALTY_RULE = #{map.cbPenaltyRule}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdStartDate)">
                    AND CB_OD_START_DATE = #{map.cbOdStartDate}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBillCycle)">
                    AND CB_BILL_CYCLE = #{map.cbBillCycle}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLastFinhstSeq)">
                    AND CB_LAST_FINHST_SEQ = #{map.cbLastFinhstSeq}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbPenaltyInd)">
                    AND CB_PENALTY_IND = #{map.cbPenaltyInd}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdGroupid)">
                    AND CB_OD_GROUPID = #{map.cbOdGroupid}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbExternalBranch)">
                    AND CB_EXTERNAL_BRANCH = #{map.cbExternalBranch}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.checksum)">
                    AND CHECKSUM = #{map.checksum}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertCpIndacc" parameterType="cn.happyworlds.imgmt.entity.CpIndacc">
        INSERT INTO cp_indacc(
        <include refid="cpIndaccBaseColumnSql"/>
        )VALUES(
            #{cbIndividualAcctno},
            #{cbIndividualAcctType},
            #{cbProductCd},
            #{cbFinAcctno},
            #{cbLineLimit},
            #{cbTempLineLimit},
            #{cbTempStartDate},
            #{cbTempEndDate},
            #{cbOutstdBal},
            #{cbFeeWaiverSpend},
            #{cbIndCardholderNo},
            #{cbAcctClass},
            #{cbCustomerId},
            #{cbBranchId},
            #{cbAcctRefNo},
            #{cbOpenDate},
            #{cbCloseDate},
            #{cbAcruInterest},
            #{cbLastIntDate},
            #{cbAcctStatus},
            #{cbAcctAgeCd},
            #{cbFatherIndacc},
            #{cbExternalAcct},
            #{cbIntRule},
            #{cbMngfeeRule},
            #{cbStatementRule},
            #{cbNextStmDate},
            #{cbBlockBal},
            #{cbCurrencyCode},
            #{cbOdintRule},
            #{cbPenaltyRule},
            #{cbOdStartDate},
            #{cbBillCycle},
            #{cbLastFinhstSeq},
            #{cbPenaltyInd},
            #{cbOdGroupid},
            #{cbExternalBranch},
            #{checksum}
        )
    </insert>
	
    <select id="deleteCpIndaccByParams" parameterType="map">
        DELETE FROM cp_indacc
        <include refid="cpIndaccBaseWhereSql"/>
    </select>
	
	<update id="updateCpIndacc" parameterType="cn.happyworlds.imgmt.entity.CpIndacc">
        UPDATE cp_indacc
        <set>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbIndividualAcctType)">
                CB_INDIVIDUAL_ACCT_TYPE = #{cbIndividualAcctType} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbProductCd)">
                CB_PRODUCT_CD = #{cbProductCd} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbFinAcctno)">
                CB_FIN_ACCTNO = #{cbFinAcctno} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbLineLimit)">
                CB_LINE_LIMIT = #{cbLineLimit} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbTempLineLimit)">
                CB_TEMP_LINE_LIMIT = #{cbTempLineLimit} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbTempStartDate)">
                CB_TEMP_START_DATE = #{cbTempStartDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbTempEndDate)">
                CB_TEMP_END_DATE = #{cbTempEndDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbOutstdBal)">
                CB_OUTSTD_BAL = #{cbOutstdBal} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbFeeWaiverSpend)">
                CB_FEE_WAIVER_SPEND = #{cbFeeWaiverSpend} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbIndCardholderNo)">
                CB_IND_CARDHOLDER_NO = #{cbIndCardholderNo} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbAcctClass)">
                CB_ACCT_CLASS = #{cbAcctClass} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbCustomerId)">
                CB_CUSTOMER_ID = #{cbCustomerId} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbBranchId)">
                CB_BRANCH_ID = #{cbBranchId} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbAcctRefNo)">
                CB_ACCT_REF_NO = #{cbAcctRefNo} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbOpenDate)">
                CB_OPEN_DATE = #{cbOpenDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbCloseDate)">
                CB_CLOSE_DATE = #{cbCloseDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbAcruInterest)">
                CB_ACRU_INTEREST = #{cbAcruInterest} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbLastIntDate)">
                CB_LAST_INT_DATE = #{cbLastIntDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbAcctStatus)">
                CB_ACCT_STATUS = #{cbAcctStatus} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbAcctAgeCd)">
                CB_ACCT_AGE_CD = #{cbAcctAgeCd} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbFatherIndacc)">
                CB_FATHER_INDACC = #{cbFatherIndacc} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbExternalAcct)">
                CB_EXTERNAL_ACCT = #{cbExternalAcct} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbIntRule)">
                CB_INT_RULE = #{cbIntRule} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbMngfeeRule)">
                CB_MNGFEE_RULE = #{cbMngfeeRule} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbStatementRule)">
                CB_STATEMENT_RULE = #{cbStatementRule} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbNextStmDate)">
                CB_NEXT_STM_DATE = #{cbNextStmDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbBlockBal)">
                CB_BLOCK_BAL = #{cbBlockBal} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbCurrencyCode)">
                CB_CURRENCY_CODE = #{cbCurrencyCode} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbOdintRule)">
                CB_ODINT_RULE = #{cbOdintRule} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbPenaltyRule)">
                CB_PENALTY_RULE = #{cbPenaltyRule} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbOdStartDate)">
                CB_OD_START_DATE = #{cbOdStartDate} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbBillCycle)">
                CB_BILL_CYCLE = #{cbBillCycle} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbLastFinhstSeq)">
                CB_LAST_FINHST_SEQ = #{cbLastFinhstSeq} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbPenaltyInd)">
                CB_PENALTY_IND = #{cbPenaltyInd} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbOdGroupid)">
                CB_OD_GROUPID = #{cbOdGroupid} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(cbExternalBranch)">
                CB_EXTERNAL_BRANCH = #{cbExternalBranch} ,
            </if>
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(checksum)">
                CHECKSUM = #{checksum}
            </if>
        </set>
        WHERE CB_INDIVIDUAL_ACCTNO = #{cbIndividualAcctno}
    </update>
    
    <update id="updateCpIndaccByParams" parameterType="map">
        <if test="map!=null">
            UPDATE cp_indacc
            <set>
            	<if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndividualAcctType)">
                    CB_INDIVIDUAL_ACCT_TYPE = #{map.cbIndividualAcctType} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbProductCd)">
                    CB_PRODUCT_CD = #{map.cbProductCd} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFinAcctno)">
                    CB_FIN_ACCTNO = #{map.cbFinAcctno} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLineLimit)">
                    CB_LINE_LIMIT = #{map.cbLineLimit} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempLineLimit)">
                    CB_TEMP_LINE_LIMIT = #{map.cbTempLineLimit} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempStartDate)">
                    CB_TEMP_START_DATE = #{map.cbTempStartDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempEndDate)">
                    CB_TEMP_END_DATE = #{map.cbTempEndDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOutstdBal)">
                    CB_OUTSTD_BAL = #{map.cbOutstdBal} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFeeWaiverSpend)">
                    CB_FEE_WAIVER_SPEND = #{map.cbFeeWaiverSpend} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndCardholderNo)">
                    CB_IND_CARDHOLDER_NO = #{map.cbIndCardholderNo} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctClass)">
                    CB_ACCT_CLASS = #{map.cbAcctClass} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCustomerId)">
                    CB_CUSTOMER_ID = #{map.cbCustomerId} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBranchId)">
                    CB_BRANCH_ID = #{map.cbBranchId} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctRefNo)">
                    CB_ACCT_REF_NO = #{map.cbAcctRefNo} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOpenDate)">
                    CB_OPEN_DATE = #{map.cbOpenDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCloseDate)">
                    CB_CLOSE_DATE = #{map.cbCloseDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcruInterest)">
                    CB_ACRU_INTEREST = #{map.cbAcruInterest} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLastIntDate)">
                    CB_LAST_INT_DATE = #{map.cbLastIntDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctStatus)">
                    CB_ACCT_STATUS = #{map.cbAcctStatus} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctAgeCd)">
                    CB_ACCT_AGE_CD = #{map.cbAcctAgeCd} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFatherIndacc)">
                    CB_FATHER_INDACC = #{map.cbFatherIndacc} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbExternalAcct)">
                    CB_EXTERNAL_ACCT = #{map.cbExternalAcct} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIntRule)">
                    CB_INT_RULE = #{map.cbIntRule} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbMngfeeRule)">
                    CB_MNGFEE_RULE = #{map.cbMngfeeRule} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbStatementRule)">
                    CB_STATEMENT_RULE = #{map.cbStatementRule} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbNextStmDate)">
                    CB_NEXT_STM_DATE = #{map.cbNextStmDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBlockBal)">
                    CB_BLOCK_BAL = #{map.cbBlockBal} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCurrencyCode)">
                    CB_CURRENCY_CODE = #{map.cbCurrencyCode} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdintRule)">
                    CB_ODINT_RULE = #{map.cbOdintRule} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbPenaltyRule)">
                    CB_PENALTY_RULE = #{map.cbPenaltyRule} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdStartDate)">
                    CB_OD_START_DATE = #{map.cbOdStartDate} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBillCycle)">
                    CB_BILL_CYCLE = #{map.cbBillCycle} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLastFinhstSeq)">
                    CB_LAST_FINHST_SEQ = #{map.cbLastFinhstSeq} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbPenaltyInd)">
                    CB_PENALTY_IND = #{map.cbPenaltyInd} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdGroupid)">
                    CB_OD_GROUPID = #{map.cbOdGroupid} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbExternalBranch)">
                    CB_EXTERNAL_BRANCH = #{map.cbExternalBranch} ,
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.checksum)">
                    CHECKSUM = #{map.checksum}
                </if>
            </set>
            <where>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndividualAcctnoCondition)">
                    CB_INDIVIDUAL_ACCTNO = #{map.cbIndividualAcctnoCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndividualAcctTypeCondition)">
                    AND CB_INDIVIDUAL_ACCT_TYPE = #{map.cbIndividualAcctTypeCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbProductCdCondition)">
                    AND CB_PRODUCT_CD = #{map.cbProductCdCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFinAcctnoCondition)">
                    AND CB_FIN_ACCTNO = #{map.cbFinAcctnoCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLineLimitCondition)">
                    AND CB_LINE_LIMIT = #{map.cbLineLimitCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempLineLimitCondition)">
                    AND CB_TEMP_LINE_LIMIT = #{map.cbTempLineLimitCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempStartDateCondition)">
                    AND CB_TEMP_START_DATE = #{map.cbTempStartDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbTempEndDateCondition)">
                    AND CB_TEMP_END_DATE = #{map.cbTempEndDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOutstdBalCondition)">
                    AND CB_OUTSTD_BAL = #{map.cbOutstdBalCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFeeWaiverSpendCondition)">
                    AND CB_FEE_WAIVER_SPEND = #{map.cbFeeWaiverSpendCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIndCardholderNoCondition)">
                    AND CB_IND_CARDHOLDER_NO = #{map.cbIndCardholderNoCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctClassCondition)">
                    AND CB_ACCT_CLASS = #{map.cbAcctClassCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCustomerIdCondition)">
                    AND CB_CUSTOMER_ID = #{map.cbCustomerIdCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBranchIdCondition)">
                    AND CB_BRANCH_ID = #{map.cbBranchIdCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctRefNoCondition)">
                    AND CB_ACCT_REF_NO = #{map.cbAcctRefNoCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOpenDateCondition)">
                    AND CB_OPEN_DATE = #{map.cbOpenDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCloseDateCondition)">
                    AND CB_CLOSE_DATE = #{map.cbCloseDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcruInterestCondition)">
                    AND CB_ACRU_INTEREST = #{map.cbAcruInterestCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLastIntDateCondition)">
                    AND CB_LAST_INT_DATE = #{map.cbLastIntDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctStatusCondition)">
                    AND CB_ACCT_STATUS = #{map.cbAcctStatusCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbAcctAgeCdCondition)">
                    AND CB_ACCT_AGE_CD = #{map.cbAcctAgeCdCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbFatherIndaccCondition)">
                    AND CB_FATHER_INDACC = #{map.cbFatherIndaccCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbExternalAcctCondition)">
                    AND CB_EXTERNAL_ACCT = #{map.cbExternalAcctCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbIntRuleCondition)">
                    AND CB_INT_RULE = #{map.cbIntRuleCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbMngfeeRuleCondition)">
                    AND CB_MNGFEE_RULE = #{map.cbMngfeeRuleCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbStatementRuleCondition)">
                    AND CB_STATEMENT_RULE = #{map.cbStatementRuleCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbNextStmDateCondition)">
                    AND CB_NEXT_STM_DATE = #{map.cbNextStmDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBlockBalCondition)">
                    AND CB_BLOCK_BAL = #{map.cbBlockBalCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbCurrencyCodeCondition)">
                    AND CB_CURRENCY_CODE = #{map.cbCurrencyCodeCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdintRuleCondition)">
                    AND CB_ODINT_RULE = #{map.cbOdintRuleCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbPenaltyRuleCondition)">
                    AND CB_PENALTY_RULE = #{map.cbPenaltyRuleCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdStartDateCondition)">
                    AND CB_OD_START_DATE = #{map.cbOdStartDateCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbBillCycleCondition)">
                    AND CB_BILL_CYCLE = #{map.cbBillCycleCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbLastFinhstSeqCondition)">
                    AND CB_LAST_FINHST_SEQ = #{map.cbLastFinhstSeqCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbPenaltyIndCondition)">
                    AND CB_PENALTY_IND = #{map.cbPenaltyIndCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbOdGroupidCondition)">
                    AND CB_OD_GROUPID = #{map.cbOdGroupidCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.cbExternalBranchCondition)">
                    AND CB_EXTERNAL_BRANCH = #{map.cbExternalBranchCondition}
                </if>
                <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.checksumCondition)">
                    AND CHECKSUM = #{map.checksumCondition}
                </if>
            </where>
        </if>
    </update>
    
    <select id="searchCpIndaccByAcctNo" parameterType="String" resultMap="cpIndaccMap">
        SELECT
        <include refid="cpIndaccBaseColumnSql"/>
        FROM cp_indacc
        WHERE
        CB_INDIVIDUAL_ACCTNO = #{cbIndividualAcctno}
    </select>
    
    <select id="searchCpIndaccByParams" parameterType="map" resultMap="cpIndaccMap">
        SELECT
        <include refid="cpIndaccBaseColumnSql"/>
        FROM cp_indacc
        <include refid="cpIndaccBaseWhereSql"/>
        <if test="map!=null">
            <if test="@cn.happyworlds.imgmt.util.Objects@isNotEmpty(map.ORDER_BY)">
                ORDER BY #{map.ORDER_BY}
            </if>
        </if>
    </select>

	 
    <resultMap type="cn.happyworlds.imgmt.entity.CpIndacc" id="cpIndaccMap">
        <id column="CB_INDIVIDUAL_ACCTNO" property="cbIndividualAcctno"/>
        <id column="CB_INDIVIDUAL_ACCT_TYPE" property="cbIndividualAcctType"/>
        <id column="CB_PRODUCT_CD" property="cbProductCd"/>
        <id column="CB_FIN_ACCTNO" property="cbFinAcctno"/>
        <id column="CB_LINE_LIMIT" property="cbLineLimit"/>
        <id column="CB_TEMP_LINE_LIMIT" property="cbTempLineLimit"/>
        <id column="CB_TEMP_START_DATE" property="cbTempStartDate"/>
        <id column="CB_TEMP_END_DATE" property="cbTempEndDate"/>
        <id column="CB_OUTSTD_BAL" property="cbOutstdBal"/>
        <id column="CB_FEE_WAIVER_SPEND" property="cbFeeWaiverSpend"/>
        <id column="CB_IND_CARDHOLDER_NO" property="cbIndCardholderNo"/>
        <id column="CB_ACCT_CLASS" property="cbAcctClass"/>
        <id column="CB_CUSTOMER_ID" property="cbCustomerId"/>
        <id column="CB_BRANCH_ID" property="cbBranchId"/>
        <id column="CB_ACCT_REF_NO" property="cbAcctRefNo"/>
        <id column="CB_OPEN_DATE" property="cbOpenDate"/>
        <id column="CB_CLOSE_DATE" property="cbCloseDate"/>
        <id column="CB_ACRU_INTEREST" property="cbAcruInterest"/>
        <id column="CB_LAST_INT_DATE" property="cbLastIntDate"/>
        <id column="CB_ACCT_STATUS" property="cbAcctStatus"/>
        <id column="CB_ACCT_AGE_CD" property="cbAcctAgeCd"/>
        <id column="CB_FATHER_INDACC" property="cbFatherIndacc"/>
        <id column="CB_EXTERNAL_ACCT" property="cbExternalAcct"/>
        <id column="CB_INT_RULE" property="cbIntRule"/>
        <id column="CB_MNGFEE_RULE" property="cbMngfeeRule"/>
        <id column="CB_STATEMENT_RULE" property="cbStatementRule"/>
        <id column="CB_NEXT_STM_DATE" property="cbNextStmDate"/>
        <id column="CB_BLOCK_BAL" property="cbBlockBal"/>
        <id column="CB_CURRENCY_CODE" property="cbCurrencyCode"/>
        <id column="CB_ODINT_RULE" property="cbOdintRule"/>
        <id column="CB_PENALTY_RULE" property="cbPenaltyRule"/>
        <id column="CB_OD_START_DATE" property="cbOdStartDate"/>
        <id column="CB_BILL_CYCLE" property="cbBillCycle"/>
        <id column="CB_LAST_FINHST_SEQ" property="cbLastFinhstSeq"/>
        <id column="CB_PENALTY_IND" property="cbPenaltyInd"/>
        <id column="CB_OD_GROUPID" property="cbOdGroupid"/>
        <id column="CB_EXTERNAL_BRANCH" property="cbExternalBranch"/>
        <id column="CHECKSUM" property="checksum"/>
    </resultMap>
	
</mapper>
