<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心-会员权益</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter/book-hotel.css"/>
</head>
<body>
<!--头部导航栏-->
<div class="header-box">
    <div class="header">
        <a class="header-logo" href="../index.html"><img src="../img/logo.png"></a>
        <div class="header-content">
            <img src="../img/weather_icon.png" />
            <span>天柱山&nbsp;20°C~27°C</span>
            <p class="header-content-right">服务电话： 0596-7075555 &nbsp;&nbsp;<a href="#">简体中文</a> | <a href="#">English</a></p>
        </div>
    </div>
</div>
<div class="header-nav-box">
      <ul class="header-nav clearfix">
        <li>
            <a class="nav-title nav-title-choosed" href="setting.html">个人中心</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">个人中心</a></li>
                <li><a href="javascript:void(0)">设置</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="#">线上商城</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../aboutus/about-us.html"  >关于我们</a>
            <ul class="hidden-nav">
                <li><a href="../aboutus/about-us.html">企业风采</a></li>
                <li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
                <li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
                <li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../perfect-holiday/perfect-holiday.html"  >完美假期</a>
            <ul class="hidden-nav">
                <li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
                <li><a href="javascript:void(0)">二日游</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../nowactiv.html">缤纷活动</a>
            <ul class="hidden-nav">
                <li><a href="../current-activity.html">当前活动</a></li>
                <li><a href="javascript:void(0)">品牌节庆</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/holiday-hotel.html" >度假酒店</a>
            <ul class="hidden-nav">
                <li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/Theme-animal.html">主题景区</a>
            <ul class="hidden-nav">
            	<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
            	<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主题内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="main-left-top clearfix">
            <img class="head-portrait" src="../img/head_portrait.jpg"/>
            <div class="main-left-info">
                <p class="main-left-name">悶騒的斜方机</p>
                <p class="main-left-operation clearfix">
                    <span>
                        <a class="main-left-icon gear-icon" href="setting.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon bell-icon" href="member-notice.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon crown-icon" href="member-rights.html"></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的订单</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="purchase-tickets.html">已订购票劵（<span>2</span>）</a>
                    </p>
                </li>
                <li class="main-left-choosed clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="book-hotel.html">已预订酒店（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">商城（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的分享</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-articlelist.html">发表的文章（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="mysha">评论（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="mycollection.html">收藏（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">
            <span>会员中心 > 已预订酒店 > 订单列表</span>
            <a class="main-right-back" href="javascript:void(0)">返回</a>
        </div>
        <div class="main-order-list">
            <div class="main-right-filter">
                <span>筛选：</span>
                <select>
                    <option>全部</option>
                    <option>部分</option>
                </select>
            </div>
            <div class="mr-table-box">
                <table class="mr-table">
                    <tr>
                        <th class="mr-table-th">
                            <span style="margin-right:10px;">订单号：1992041626190</span>
                            <span>2016-06-16</span>
                        </th>
                        <th>金额</th>
                        <th class="mr-th-width">状态</th>
                        <th class="mr-th-width">操作</th>
                    </tr>
                    <tr>
                        <td class="clearfix">
                            <img class="mr-table-icon" src="../img/ticket-icon.jpg"/>
                            <div class="mr-table-info">
                                <p class="mr-info-title">欢乐大世界标准房入住1晚</p>
                                <p>数量：1</p>
                                <p>使用日期：2016-09-20</p>
                            </div>
                        </td>
                        <td class="mr-table-td">¥268</td>
                        <td class="mr-table-td">订单完成</td>
                        <td class="mr-table-td">
                            <a class="mr-table-details" href="javascript:void(0)">订单详情</a>
                        </td>
                    </tr>
                </table>
                <table class="mr-table">
                    <tr>
                        <th class="mr-table-th">
                            <span style="margin-right:10px;">订单号：1992041626190</span>
                            <span>2016-06-16</span>
                        </th>
                        <th>金额</th>
                        <th class="mr-th-width">状态</th>
                        <th class="mr-th-width">操作</th>
                    </tr>
                    <tr>
                        <td class="clearfix">
                            <img class="mr-table-icon" src="../img/ticket-icon.jpg"/>
                            <div class="mr-table-info">
                                <p class="mr-info-title">欢乐大世界总统套房入住2晚</p>
                                <p>数量：2</p>
                                <p>使用日期：2016-09-20</p>
                            </div>
                        </td>
                        <td class="mr-table-td">¥ 870000</td>
                        <td class="mr-table-td">未付款</td>
                        <td class="mr-table-td">
                            <a class="mr-table-details" href="javascript:void(0)">订单详情</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="mr-page">
                <a class="mr-page-disabled" href="javascript:void(0)"><</a>
                <a class="mr-page-seleced" href="javascript:void(0)">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="javascript:void(0)">3</a>
                <a href="javascript:void(0)">></a>
            </div>
        </div>
        <div class="mr-hotle">
            <div class="clearfix">
                <img class="mr-hotle-img" src="../img/hotel-icon.jpg"/>
                <div class="mr-hotle-top">
                    <div class="clearfix">
                        <p class="mr-hotle-name">
                            <span class="mr-hotle-fname">欢乐大世界宾馆</span><br/>
                            <span>（舒适型）</span>
                        </p>
                        <p class="mr-hotle-score">
                            <span><i style="font-size:18px;color:#ff7800;">4.7</i><i style="font-size:16px;color:#999;">/5分</i></span><br/>
                            <span>12条用户评价</span>
                        </p>
                        <p class="mr-hotle-price">￥268</p>
                    </div>
                    <div class="mr-hotle-image">
                        <img src="../img/hotel-icon.jpg"/>
                        <img src="../img/hotel-icon.jpg"/>
                        <img src="../img/hotel-icon.jpg"/>
                    </div>
                </div>
            </div>
            <div class="mr-hotle-title">酒店信息</div>
            <div class="mr-hotle-list clearfix">
                <p class="mr-list-title">联系方式</p>
                <p class="mr-list-content">021-58926811/58926802</p>
            </div>
            <div class="mr-hotle-list clearfix">
                <p class="mr-list-title">酒店信息</p>
                <p class="mr-list-content">
                    <span class="mr-list-block">2015年11月开业</span>
                    <span class="mr-list-block">2015年08月装修</span>
                    <span class="mr-list-block">129间客房</span>
                    <span class="mr-list-block">层高6层</span>
                </p>
            </div>
            <div class="mr-hotle-list clearfix">
                <p class="mr-list-title">酒店简介</p>
                <p class="mr-list-content">上海川沙宾馆位于上海浦东新区川沙镇石皮路，近新川路，距离（内史第）黄炎培故居和宋庆龄出生地约
                    200米。 这里隶属于东上海国际旅游公司，拥有不同类型客房。房间布局合理，陈设雅致，融传统与现代
                    设计理念为一体。室内24小时热水、电视、空调、无线WIFI等设施都有，方便您的居住。 宾馆距迪士尼
                    乐园20分钟车程，距浦东新国际博览中心25分钟车程，四周生活设施完善，出行交通也便利。可以免费接
                    送浦东国际机场、送迪士尼，需提前预约。</p>
            </div>
            <div class="mr-hotle-bar"></div>
            <div class="mr-hotle-list clearfix">
                <p class="mr-list-title">酒店设施</p>
                <p class="mr-list-content">
                    <span class="mr-list-block">会议室</span>
                    <span class="mr-list-block">中式餐厅</span>
                    <span class="mr-list-block">商务中心</span>
                </p>
            </div>
            <div class="mr-hotle-bar"></div>
            <div class="mr-hotle-list clearfix">
                <p class="mr-list-title">酒店服务</p>
                <p class="mr-list-content">
                    <span class="mr-list-block">停车场</span>
                    <span class="mr-list-block">信用卡/银联卡收费</span>
                    <span class="mr-list-block">叫醒服务</span>
                    <span class="mr-list-block">洗衣服务</span>
                    <span class="mr-list-block">行李寄存</span>
                    <span class="mr-list-block">wifi</span>
                </p>
            </div>
            <div class="mr-hotle-bar"></div>
            <div class="mr-hotle-list clearfix">
                <p class="mr-list-title">房间设施</p>
                <p class="mr-list-content">
                    <span class="mr-list-block">电吹风</span>
                    <span class="mr-list-block">空调</span>
                    <span class="mr-list-block">电话</span>
                    <span class="mr-list-block">上网方式</span>
                    <span class="mr-list-block">24小时热水</span>
                    <span class="mr-list-block">独立卫生间</span>
                    <span class="mr-list-block">洗漱工具</span>
                </p>
            </div>
            <div class="mr-hotle-bar"></div>
            <div class="mr-hotle-title">住客点评</div>
            <div class="mr-evaluate-top">
                <span class="mr-evaluate-top1">整体评分：</span>
                <span class="mr-evaluate-top2">4.7</span>
                <span class="mr-evaluate-top3">/5分</span>
                <span class="mr-evaluate-top4">大家都在说:</span>
                <span class="mr-evaluate-top5">干净卫生(6)</span>
                <span class="mr-evaluate-top5">性价比高(6)</span>
                <span class="mr-evaluate-top5">服务热情(6)</span>
            </div>
            <div class="mr-evaluate-nav">
                <a class="mr-nav-selcet mr-nav-selceted" href="javascript:void(0)">全部</a>
                <a class="mr-nav-selcet" href="javascript:void(0)">晒图评价</a>
            </div>
            <ul class="mr-evaluate-box">
                <li class="clearfix">
                    <div class="mr-evaluate-left">
                        <img src="../img/head_portrait.jpg"/>
                        <p class="mr-evaluate-name">Lomelmo</p>
                    </div>
                    <div class="mr-evaluate-right">
                        <p class="mr-evaluate-stars">
                            <span class="mr-evaluate-stars01 hotel-stars-icon hotel-stars-icon01">
                                <span class="mr-evaluate-stars02 hotel-stars-icon hotel-stars-icon02" style="width:60px;"></span>
                            </span>
                            <span class="mr-evaluate-time">2017年1月5日</span>
                        </p>
                        <p>去迪士尼玩前一天定的房间,因为路不熟给宾馆打电话咨询,服务员很细心还发短信提醒,但是最近宾馆附近修路,
                            出租车开不到门口,要步行50米,宾馆是新装修的,很干净,房间也很宽敞明亮。还预定了早餐15元一位，遗憾的是服务员没提醒早上有免费的接送车。</p>
                        <p class="mr-evaluate-img">
                            <img src="../img/hotel-icon.jpg"/>
                            <img src="../img/hotel-icon.jpg"/>
                            <img src="../img/hotel-icon.jpg"/>
                        </p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="mr-evaluate-left">
                        <img src="../img/head_portrait.jpg"/>
                        <p class="mr-evaluate-name">Lomelmo</p>
                    </div>
                    <div class="mr-evaluate-right">
                        <p class="mr-evaluate-stars">
                            <span class="mr-evaluate-stars01 hotel-stars-icon hotel-stars-icon01">
                                <span class="mr-evaluate-stars02 hotel-stars-icon hotel-stars-icon02"></span>
                            </span>
                            <span class="mr-evaluate-time">2017年1月5日</span>
                        </p>
                        <p>去迪士尼玩前一天定的房间,因为路不熟给宾馆打电话咨询,服务员很细心还发短信提醒,但是最近宾馆附近修路,
                            出租车开不到门口,要步行50米,宾馆是新装修的,很干净,房间也很宽敞明亮。还预定了早餐15元一位，遗憾的是服务员没提醒早上有免费的接送车。</p>
                        <p class="mr-evaluate-img">
                            <img src="../img/hotel-icon.jpg"/>
                            <img src="../img/hotel-icon.jpg"/>
                            <img src="../img/hotel-icon.jpg"/>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footer-main">
        <div class="footer-left">
            沪ICP备66449988号
        </div>
        <div class="footer-right">
            企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
        </div>
    </div>
</div>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/personalCenter/book-hotel.js"></script>

</body>
</html>
