<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>收藏详情页</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter/purchase-tickets.css"/>
	<link rel="stylesheet" type="text/css" href="../css/personalCenter/collectionlist.css"/>
   <link rel="stylesheet" type="text/css" href="../css/personalCenter/collection-details.css"/>
</head>
<body>
<!--头部导航栏-->
<div class="header-box">
    <div class="header">
        <a class="header-logo" href="../index.html"><img src="../img/logo.png"></a>
        <div class="header-content">
            <img src="../img/weather_icon.png" />
            <span>天柱山&nbsp;20°C~27°C</span>
            <p class="header-content-right">服务电话： 0596-7075555 &nbsp;&nbsp;<a href="#">简体中文</a> | <a href="#">English</a></p>
        </div>
    </div>
</div>
<div class="header-nav-box">
       <ul class="header-nav clearfix">
        <li>
            <a class="nav-title nav-title-choosed" href="setting.html">个人中心</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">个人中心</a></li>
                <li><a href="javascript:void(0)">设置</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="#">线上商城</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../aboutus/about-us.html"  >关于我们</a>
            <ul class="hidden-nav">
                <li><a href="../aboutus/about-us.html">企业风采</a></li>
                <li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
                <li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
                <li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../perfect-holiday/perfect-holiday.html"  >完美假期</a>
            <ul class="hidden-nav">
                <li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
                <li><a href="javascript:void(0)">二日游</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../nowactiv.html">缤纷活动</a>
            <ul class="hidden-nav">
                <li><a href="../current-activity.html">当前活动</a></li>
                <li><a href="javascript:void(0)">品牌节庆</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/holiday-hotel.html" >度假酒店</a>
            <ul class="hidden-nav">
                <li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/Theme-animal.html">主题景区</a>
            <ul class="hidden-nav">
            	<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
            	<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主题内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="main-left-top clearfix">
            <img class="head-portrait" src="../img/head_portrait.jpg"/>
            <div class="main-left-info">
                <p class="main-left-name">悶騒的斜方机</p>
                <p class="main-left-operation clearfix">
                    <span>
                        <a class="main-left-icon gear-icon" href="setting.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon bell-icon" href="member-notice.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon crown-icon" href="member-rights.html"></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的订单</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="purchase-tickets.html">已订购票劵（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="book-hotel.html">已预订酒店（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">商城（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的分享</p>
             <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-articlelist.html">发表的文章（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-comment.html">评论（<span>0</span>）</a>
                    </p>
                </li>
                <li class="main-left-choosed clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="mycollection.html">收藏（<span>2</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">
            <span>我的分享 > 收藏> 收藏详情页</span>
        </div>
     	<div class="collection-details">
     		
      		<ul>
      			<li><img src="../img/rooma.png"></li>
      			<li>	<a href="javascript:void(0)"><img src="../img/h3.png"><strong>小绿酱</strong></a>
      					<span>2017年6月13日</span>
      					<div class="zan-function">
      						<i><img src="../img/zan.png"><span>109</span></i>
      						<i><a href="javascript:void(0)"><img src="../img/pinl.png"><span>182</span></a></i>
      			
      					</div>
      			</li>
      			<li>
      					<p>
      						每次去欢乐大世界，有一半都是对这次"临时的家"的期待。观云居该是最不缺少风格的酒店，无论是酒店设计还是服务，层出不穷的新体验让人感慨"永远都追不上"。这一次，小绿酱毫不扭捏的分享，展示给每一位到来的客人，散发出来的光彩与内涵真让人着迷，相信也是所有"设计癖"，或是对美好生活向往的游客，在观云居落脚的绝好栖所。
      						<img src="../img/roomb.png">
      					</p>
      						<p>
      						洁白的大理石底面与抛光的白色珍珠威尼斯灰石膏墙壁，斑斓色调的金饰与深绿色的室内棕榈树，令人想起
      					好莱坞黄金时代那种标志的聚会地点。它像是海滩上的私人乐园，集市咖啡馆、海洋酒吧、斗牛士房间以及夜生活俱乐部。这
      					里讲奢华变成一种标准，温暖的木质饰面以及休闲风格的海滩别墅风格给人以"庇护所"的感觉，提供"一切你需要和你想要的东西"。
      						<img src="../img/roomc.png">
      						<img src="../img/roomd.png">
      					</p>
      			</li>
      		</ul>
     	</div>
      	
      	<div class="sharing">
      		<h3>版权声明：</h3>
      		<p>本文系欢乐大世界原创内容，如需转载请注明编者、出处，并保留在欢乐大世界(www.happyworlds.cn)的完整链接，谢谢！</p>
      		
      		<div class="zan-message">
      			<span id="zan" style="display: none;">+1</span>
      			<img src="../img/dianzan.png" id="dianzan" >
      			<span id="zanNum"><i></i>人赞过</span>
      		</div>
      		<div class="zan-people">
      			<ul>
      				<li>
      					<img src="../img/h2.png">
      				</li>
      				<li>
      					<img src="../img/h1.png">
      				</li>
      				<li>
      					<img src="../img/h3.png">
      				</li>
      				<li>
      					<img src="../img/h2.png">
      				</li>
      				<li>
      					<img src="../img/h2.png">
      				</li>
      			</ul>
      		</div>
      		
      		<div class="share-function">
      			<ul>
      				<li><a href="javascript:void(0)">
      					<img src="../img/wxs.png">
      				</a></li>
      				<li><a href="javascript:void(0)">
      					<img src="../img/pyq.png">
      				</a></li>
      				<li><a href="javascript:void(0)">
      					<img src="../img/wb.png">
      				</a></li>
      				<li><a href="javascript:void(0)">
      					<img src="../img/rrw.png">
      				</a></li>
      				<li><a href="javascript:void(0)">
      					<img src="../img/qqshare.png">
      				</a></li>
      				<li><a href="javascript:void(0)">
      					<img src="../img/qqspace.png">
      				</a></li>
      			</ul>
				<img src="../img/share.png" id="share-star"/>
      		</div>
      	</div>
    </div>
  
</div>
<!--底部-->
<div class="footer">
    <div class="footer-main">
        <div class="footer-left">
            沪ICP备66449988号
        </div>
        <div class="footer-right">
            企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
        </div>
    </div>
</div>


<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/personalCenter/purchase-tickets.js"></script>
	<script type="text/javascript" src="../js/hover.js" ></script>
<script>
	$(function(){
		$("#dianzan").on('click',function(){
			
			$("#zan").fadeIn(1000).fadeOut(500);
		})
	})
</script>
</body>
</html>
