<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心-会员权益</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter/member-notice.css"/>
</head>
<body>
<!--头部导航栏-->
<div class="header-box">
    <div class="header">
        <a class="header-logo" href="../index.html"><img src="../img/logo.png"></a>
        <div class="header-content">
            <img src="../img/weather_icon.png" />
            <span>天柱山&nbsp;20°C~27°C</span>
            <p class="header-content-right">服务电话： 0596-7075555 &nbsp;&nbsp;<a href="#">简体中文</a> | <a href="#">English</a></p>
        </div>
    </div>
</div>
<div class="header-nav-box">
       <ul class="header-nav clearfix">
        <li>
            <a class="nav-title nav-title-choosed" href="setting.html">个人中心</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">个人中心</a></li>
                <li><a href="javascript:void(0)">设置</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="#">线上商城</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../aboutus/about-us.html"  >关于我们</a>
            <ul class="hidden-nav">
                <li><a href="../aboutus/about-us.html">企业风采</a></li>
                <li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
                <li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
                <li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../perfect-holiday/perfect-holiday.html"  >完美假期</a>
            <ul class="hidden-nav">
                <li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
                <li><a href="javascript:void(0)">二日游</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../nowactiv.html">缤纷活动</a>
            <ul class="hidden-nav">
                <li><a href="../current-activity.html">当前活动</a></li>
                <li><a href="javascript:void(0)">品牌节庆</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/holiday-hotel.html" >度假酒店</a>
            <ul class="hidden-nav">
                <li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/Theme-animal.html">主题景区</a>
            <ul class="hidden-nav">
            	<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
            	<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主题内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="main-left-top clearfix">
            <img class="head-portrait" src="../img/head_portrait.jpg"/>
            <div class="main-left-info">
                <p class="main-left-name">悶騒的斜方机</p>
                <p class="main-left-operation clearfix">
                    <span>
                        <a class="main-left-icon gear-icon" href="setting.html" data-id="1"></a>
                    </span>
                    <span>
                        <a class="main-left-icon notice-icon" href="javascript:void(0)" data-id="2"></a>
                    </span>
                    <span>
                        <a class="main-left-icon crown-icon" href="member-rights.html" data-id="3"></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的订单</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="purchase-tickets.html">已订购票劵（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="book-hotel.html">已预订酒店（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">商城（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的分享</p>
            <ul class="main-left-choose">
                <li class="main-left-choosed clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-articlelist.html">发表的文章（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-comment.html">评论（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="mycollection.html">收藏（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">会员中心 > 通知</div>
        <ul class="mr-content">
            <li class="clearfix">
                <div class="mr-notice-icon notice-icon01"></div>
                <div class="mr-content-text">
                    <p class="mr-centent-title">物流通知</p>
                    <p class="mr-centent-info">您的订单12345678910已完成，感谢您对欢乐大世界的支持，祝您路途...</p>
                </div>
                <div class="mr-centent-right">14:20</div>
            </li>
            <li class="clearfix">
                <div class="mr-notice-icon notice-icon02"></div>
                <div class="mr-content-text">
                    <p class="mr-centent-title">系统通知</p>
                    <p class="mr-centent-info">用签到开启美好一天。</p>
                </div>
                <div class="mr-centent-right">两天前</div>
            </li>
            <li class="clearfix">
                <div class="mr-notice-icon notice-icon03"></div>
                <div class="mr-content-text">
                    <p class="mr-centent-title">优惠活动</p>
                    <p class="mr-centent-info">兽人，永不为奴......熊猫人，无所畏惧......</p>
                </div>
                <div class="mr-centent-right">9月14日</div>
            </li>
            <li class="clearfix">
                <div class="mr-notice-icon notice-icon01"></div>
                <div class="mr-content-text">
                    <p class="mr-centent-title">物流通知</p>
                    <p class="mr-centent-info">您的订单12345678910已完成，感谢您对欢乐大世界的支持，祝您路途...</p>
                </div>
                <div class="mr-centent-right">8月28日</div>
            </li>
        </ul>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footer-main">
        <div class="footer-left">
            沪ICP备66449988号
        </div>
        <div class="footer-right">
            企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
        </div>
    </div>
</div>
<script src="../js/jquery-3.1.1.min.js"></script>
</body>
</html>
