<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>收藏</title>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter/purchase-tickets.css"/>
	<link rel="stylesheet" type="text/css" href="../css/personalCenter/collectionlist.css"/>
   
</head>
<body>
<!--头部导航栏-->
<div class="header-box">
    <div class="header">
        <a class="header-logo" href="../index.html"><img src="../img/logo.png"></a>
        <div class="header-content">
            <img src="../img/weather_icon.png" />
            <span>天柱山&nbsp;20°C~27°C</span>
            <p class="header-content-right">服务电话： 0596-7075555 &nbsp;&nbsp;<a href="#">简体中文</a> | <a href="#">English</a></p>
        </div>
    </div>
</div>
<div class="header-nav-box">
       <ul class="header-nav clearfix">
        <li>
            <a class="nav-title nav-title-choosed" href="setting.html">个人中心</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">个人中心</a></li>
                <li><a href="javascript:void(0)">设置</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="#">线上商城</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../aboutus/about-us.html"  >关于我们</a>
            <ul class="hidden-nav">
                <li><a href="../aboutus/about-us.html">企业风采</a></li>
                <li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
                <li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
                <li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../perfect-holiday/perfect-holiday.html"  >完美假期</a>
            <ul class="hidden-nav">
                <li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
                <li><a href="javascript:void(0)">二日游</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../nowactiv.html">缤纷活动</a>
            <ul class="hidden-nav">
                <li><a href="../current-activity.html">当前活动</a></li>
                <li><a href="javascript:void(0)">品牌节庆</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/holiday-hotel.html" >度假酒店</a>
            <ul class="hidden-nav">
                <li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/Theme-animal.html">主题景区</a>
            <ul class="hidden-nav">
            	<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
            	<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主题内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="main-left-top clearfix">
            <img class="head-portrait" src="../img/head_portrait.jpg"/>
            <div class="main-left-info">
                <p class="main-left-name">悶騒的斜方机</p>
                <p class="main-left-operation clearfix">
                    <span>
                        <a class="main-left-icon gear-icon" href="setting.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon bell-icon" href="member-notice.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon crown-icon" href="member-rights.html"></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的订单</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="purchase-tickets.html">已订购票劵（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="book-hotel.html">已预订酒店（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">商城（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的分享</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-articlelist.html">发表的文章（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-comment.html">评论（<span>2</span>）</a>
                    </p>
                </li>
                <li class=" main-left-choosed clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">收藏（<span>5</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">
            <span>我的分享 > 收藏</span>
        </div>
      	<div class="collectionlist">
      		<ul>
      			<li><a href="javascript:void(0)">
      				<div class="collection-title">
      					<img src="../img/h1.png"><strong>Lomelmo</strong><span>2017年6月13日</span>
      				</div>
      				
      				<div class="collection-body">
      					<div class="collection-body-left">
      						<img  src="../img/rom1.png">
      					</div>
      					<div class="collection-body-right">
      						<h2>观云居——充满神话色彩的另类乐园酒店</h2>
      						<p>
      							如果不想在住宿上花太多预算，却想要有套房式宽敞的住宿空间，又喜欢另类的设计酒店，倒是个不错的选择。你可以在这里很舒服的睡上一晚，绝对的惊喜...
      						</p>
      					</div>
      				</div>
      			</a></li>
      			
      			<li><a href="javascript:void(0)">
      				<div class="collection-title">
      					<img src="../img/h3.png"><strong>雨铛</strong><span>2017年7月8日</span>
      				</div>
      				
      				<div class="collection-body">
      					<div class="collection-body-left">
      						<img  src="../img/rom2.png">
      					</div>
      					<div class="collection-body-right">
      						<h2>据说这是孩子世界里最酷的餐具？</h2>
      						<p>
      							每个人的心理都住着一个没长大的小孩，欢乐大世界就是给内心里那个小孩玩儿的地方。欢乐大世界在厦门为孩子们打开了另一个全新的乐园...
      						</p>
      					</div>
      				</div>
      			</a></li>
      		</ul>
      		
      		<div class="clearfix"></div>
      		<div class="adver-rom">
      			<div class="collection-title">
      				<img src="../img/h2.png"><strong>欢乐大世界酒店</strong><span>2017年10月1日</span>
      			</div>
      			<div class="adver-body">
      				<a href="javascript:void(0)">
      				<img src="../img/veg.png">
      				<p>
      					<strong>国庆期间，欢乐大世界酒店全场5折</strong>
      					<span>新鲜食材，更多关爱！</span>
      				</p>
      				</a>
      			</div>
      		</div>
      	</div>	
      	  <div class="mr-page">
                <a class="mr-page-disabled" href="javascript:void(0)"><</a>
                <a class="mr-page-seleced" href="javascript:void(0)">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="javascript:void(0)">3</a>
                <a href="javascript:void(0)">></a>
           </div>
    </div>
  
</div>
<!--底部-->
<div class="footer">
    <div class="footer-main">
        <div class="footer-left">
            沪ICP备66449988号
        </div>
        <div class="footer-right">
            企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
        </div>
    </div>
</div>


<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/personalCenter/purchase-tickets.js"></script>

</body>
</html>
