<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心-会员权益</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter/purchase-tickets.css"/>
</head>
<body>
<!--头部导航栏-->
<div class="header-box">
    <div class="header">
        <a class="header-logo" href="../index.html"><img src="../img/logo.png"></a>
        <div class="header-content">
            <img src="../img/weather_icon.png" />
            <span>天柱山&nbsp;20°C~27°C</span>
            <p class="header-content-right">服务电话： 0596-7075555 &nbsp;&nbsp;<a href="#">简体中文</a> | <a href="#">English</a></p>
        </div>
    </div>
</div>
<div class="header-nav-box">
       <ul class="header-nav clearfix">
        <li>
            <a class="nav-title nav-title-choosed" href="setting.html">个人中心</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">个人中心</a></li>
                <li><a href="javascript:void(0)">设置</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="#">线上商城</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../aboutus/about-us.html"  >关于我们</a>
            <ul class="hidden-nav">
                <li><a href="../aboutus/about-us.html">企业风采</a></li>
                <li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
                <li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
                <li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../perfect-holiday/perfect-holiday.html"  >完美假期</a>
            <ul class="hidden-nav">
                <li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
                <li><a href="javascript:void(0)">二日游</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../nowactiv.html">缤纷活动</a>
            <ul class="hidden-nav">
                <li><a href="../current-activity.html">当前活动</a></li>
                <li><a href="javascript:void(0)">品牌节庆</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/holiday-hotel.html" >度假酒店</a>
            <ul class="hidden-nav">
                <li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/Theme-animal.html">主题景区</a>
            <ul class="hidden-nav">
            	<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
            	<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主题内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="main-left-top clearfix">
            <img class="head-portrait" src="../img/head_portrait.jpg"/>
            <div class="main-left-info">
                <p class="main-left-name">悶騒的斜方机</p>
                <p class="main-left-operation clearfix">
                    <span>
                        <a class="main-left-icon gear-icon" href="setting.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon bell-icon" href="member-notice.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon crown-icon" href="member-rights.html"></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的订单</p>
            <ul class="main-left-choose">
                <li class="main-left-choosed clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">已订购票劵（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="book-hotel.html">已预订酒店（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">商城（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的分享</p>
             <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-articlelist.html">发表的文章（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="myshare-comment.html">评论（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="mycollection.html">收藏（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">
            <span>会员中心 > 已订购票券 > 订单列表</span>
            <a class="main-right-back" href="javascript:void(0)">返回</a>
        </div>
        <div class="main-order-list">
            <div class="main-right-filter">
                <span>筛选：</span>
                <select>
                    <option>全部</option>
                    <option>部分</option>
                </select>
            </div>
            <div class="mr-table-box">
                <table class="mr-table">
                    <tr>
                        <th class="mr-table-th">
                            <span style="margin-right:10px;">订单号：1992041626190</span>
                            <span>2016-06-16</span>
                        </th>
                        <th>金额</th>
                        <th class="mr-th-width">状态</th>
                        <th class="mr-th-width">操作</th>
                    </tr>
                    <tr>
                        <td class="clearfix">
                            <img class="mr-table-icon" src="../img/ticket-icon.jpg"/>
                            <div class="mr-table-info">
                                <p class="mr-info-title">欢乐大世界双园平日全票</p>
                                <p>欢乐大世界海洋馆、森林馆无限畅玩</p>
                                <p>使用日期：2016-09-20</p>
                            </div>
                        </td>
                        <td class="mr-table-td">¥ 870</td>
                        <td class="mr-table-td">订单完成</td>
                        <td class="mr-table-td">
                            <a class="mr-table-details" href="javascript:void(0)">订单详情</a>
                        </td>
                    </tr>
                </table>
                <table class="mr-table">
                    <tr>
                        <th class="mr-table-th">
                            <span style="margin-right:10px;">订单号：1992041626190</span>
                            <span>2016-06-16</span>
                        </th>
                        <th>金额</th>
                        <th class="mr-th-width">状态</th>
                        <th class="mr-th-width">操作</th>
                    </tr>
                    <tr>
                        <td class="clearfix">
                            <img class="mr-table-icon" src="../img/ticket-icon.jpg"/>
                            <div class="mr-table-info">
                                <p class="mr-info-title">欢乐大世界海洋馆单日</p>
                                <p>欢乐大世界海洋馆无限畅玩</p>
                                <p>使用日期：2016-09-20</p>
                            </div>
                        </td>
                        <td class="mr-table-td">¥ 870000</td>
                        <td class="mr-table-td">未付款</td>
                        <td class="mr-table-td">
                            <a class="mr-table-details" href="javascript:void(0)">订单详情</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="mr-page">
                <a class="mr-page-disabled" href="javascript:void(0)"><</a>
                <a class="mr-page-seleced" href="javascript:void(0)">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="javascript:void(0)">3</a>
                <a href="javascript:void(0)">></a>
            </div>
        </div>
        <div class="mr-order-details">
            <div class="mr-order-title">
                <p class="mr-order-number">订单号：1234567891011</p>
                <p class="mr-order-status">订单状态：已完成</p>
                <p class="mr-order-time">2016-06-16 15:21</p>
            </div>
            <div class="mr-goods-details">
                <p class="mr-goods-title">商品详情</p>
                <p class="mr-price-info">
                    <span>●欢乐大世界海洋馆、森林馆无限畅玩</span>
                    <span class="mr-price">¥ 2500 × 1</span>
                </p>
                <table class="mr-price-content">
                    <tr>
                        <td class="mr-ticket-name">海洋馆门票、森林馆门票</td>
                        <td class="mr-price-number">各一张</td>
                        <td class="mr-price-right">2016-06-23</td>
                    </tr>
                </table>
            </div>
            <div class="mr-order-title">
                <p class="mr-order-number">价格详情</p>
            </div>
            <div class="mr-goods-details">
                <p class="mr-actual-payment">
                    <span>实付款：</span>
                    <span class="mr-actual-list2">¥870</span>
                    <span class="mr-actual-list3">（获得积分87）</span>
                </p>
                <p class="mr-actual-all clearfix">
                    <span>总额：</span>
                    <span class="mr-actual-price">人民币：870</span>
                </p>
            </div>
            <div class="mr-order-title">
                <p class="mr-order-number">支付详情</p>
            </div>
            <div class="mr-goods-details">
                <p class="mr-payment-details">
                    <span>联系人：</span>
                    <span>阿尔萨斯</span>
                </p>
                <p class="mr-payment-details">
                    <span>电<i style="color:#fff;">电</i>话：</span>
                    <span>123456789012</span>
                </p>
                <p class="mr-payment-details clearfix">
                    <span class="mr-remarks-title">备<i style="color:#fff;">电</i>注：</span>
                    <span class="mr-payment-remarks">无备注</span>
                </p>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footer-main">
        <div class="footer-left">
            沪ICP备66449988号
        </div>
        <div class="footer-right">
            企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
        </div>
    </div>
</div>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/personalCenter/purchase-tickets.js"></script>
</body>
</html>
