<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>个人中心-会员权益</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../css/personalCenter/setting.css"/>
</head>
<body>
<!--头部导航栏-->
<div class="header-box">
    <div class="header">
        <a class="header-logo" href="../index.html"><img src="../img/logo.png"></a>
        <div class="header-content">
            <img src="../img/weather_icon.png" />
            <span>天柱山&nbsp;20°C~27°C</span>
            <p class="header-content-right">服务电话： 0596-7075555 &nbsp;&nbsp;<a href="#">简体中文</a> | <a href="#">English</a></p>
        </div>
    </div>
</div>
<div class="header-nav-box">
    <ul class="header-nav clearfix">
        <li>
            <a class="nav-title nav-title-choosed" href="setting.html">个人中心</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">个人中心</a></li>
                <li><a href="javascript:void(0)">设置</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="#">线上商城</a>
            <ul class="hidden-nav">
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
                <li><a href="javascript:void(0)">aaa</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../aboutus/about-us.html"  >关于我们</a>
            <ul class="hidden-nav">
                <li><a href="../aboutus/about-us.html">企业风采</a></li>
                <li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
                <li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
                <li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../perfect-holiday/perfect-holiday.html"  >完美假期</a>
            <ul class="hidden-nav">
                <li><a href="../perfect-holiday/perfect-holiday.html">一日游</a></li>
                <li><a href="javascript:void(0)">二日游</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../nowactiv.html">缤纷活动</a>
            <ul class="hidden-nav">
                <li><a href="../current-activity.html">当前活动</a></li>
                <li><a href="javascript:void(0)">品牌节庆</a></li>
            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/holiday-hotel.html" >度假酒店</a>
            <ul class="hidden-nav">
                <li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>

            </ul>
        </li>
        <li>
            <a class="nav-title" href="../themeAttractions/Theme-animal.html">主题景区</a>
            <ul class="hidden-nav">
            	<li><a href="../themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
            	<li><a href="../themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>
            </ul>
        </li>
    </ul>
</div>
<!--主题内容-->
<div class="main clearfix">
    <div class="main-left">
        <div class="main-left-top clearfix">
            <img class="head-portrait" src="../img/head_portrait.jpg"/>
            <div class="main-left-info">
                <p class="main-left-name">悶騒的斜方机</p>
                <p class="main-left-operation clearfix">
                    <span>
                        <a class="main-left-icon set-icon" href="javascript:void(0)"></a>
                    </span>
                    <span>
                        <a class="main-left-icon bell-icon" href="member-notice.html"></a>
                    </span>
                    <span>
                        <a class="main-left-icon crown-icon" href="member-rights.html"></a>
                    </span>
                </p>
            </div>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的订单</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="purchase-tickets.html">已订购票劵（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="book-hotel.html">已预订酒店（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">商城（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="main-left-content">
            <p class="main-left-title">我的分享</p>
            <ul class="main-left-choose">
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">发表的文章（<span>2</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">评论（<span>0</span>）</a>
                    </p>
                </li>
                <li class="clearfix">
                    <p class="main-left-list"></p>
                    <p class="main-left-message">
                        <a href="javascript:void(0)">收藏（<span>0</span>）</a>
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-title">会员中心 > 会员资料</div>
        <ul class="main-right-nav clearfix">
            <li  class="main-right-navselected" data-id="1">基本中心</li>
            <li data-id="3">安全中心</li>
        </ul>
        <div class="mr-info">
            <div class="mr-register">注册时间：2016-12-12</div>
            <div class="mr-info-list">
                <span class="mr-info-title">姓名：</span>
                <input class="mr-info-input" type="text" value=""/>
            </div>
            <div class="mr-info-list">
                <span class="mr-info-title">手机号：</span>
                <input class="mr-info-input" style="background-color:#e5e5e5;" type="text" value="（+86）18818828282" disabled="disabled"/>
            </div>
            <div class="mr-info-list">
                <span class="mr-info-title">邮箱：</span>
                <input class="mr-info-input" type="text" value=""/>
            </div>
            <div class="mr-info-list">
                <span class="mr-info-title">身份证号：</span>
                <input class="mr-info-input" type="text" value=""/>
            </div>
            <div class="mr-info-list">
                <span class="mr-info-title">性别：</span>
                <p class="mr-info-sex">
                    <span class="main-left-icon sex-icon"></span>
                    <span class="mr-sex-content">男</span>
                    <span class="main-left-icon sex-icon"></span>
                    <span class="mr-sex-content">女</span>
                    <span class="main-left-icon sex-selected-icon"></span>
                    <span class="mr-sex-content">保密</span>
                </p>
            </div>
            <div class="mr-info-list">
                <span class="mr-info-title">生日：</span>
                <select class="mr-info-year">
                    <option>年</option>
                    <option>1980</option>
                    <option>1981</option>
                </select>
                <select>
                    <option>月</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <select>
                    <option>日</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <span class="mr-info-prompt">生日只能修改一次</span>
            </div>
            <div class="mr-info-list">
                <span class="mr-info-title">所在地区：</span>
                <select>
                    <option>请选择省份</option>
                    <option>1980</option>
                    <option>1981</option>
                </select>
                <select>
                    <option>请选择城市</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div>
                <button class="mr-info-submit">确认修改</button>
            </div>
        </div>
       
        <div class="mr-security-center">
            <div class="mr-security-list">
                <span class="mr-security-title">登录密码</span>
                <span class="mr-security-content">建议你定期更改密码以保护账号安全</span>
                <span class="mr-security-operation" data-id="1">设置密码</span>
            </div>
            <div class="mr-security-list">
                <span class="mr-security-title">绑定手机</span>
                <span class="mr-security-content">（+86）1881****282</span>
                <span class="mr-security-operation" data-id="2">修改</span>
            </div>
            <div class="mr-alert-phonebox">
                <div class="mr-alert-left">修改手机号</div>
                <div class="mr-alert-prompt">为了保障您的账号安全，更换手机请先进行安全验证</div>
                <div class="mr-alert-list">
                    <span class="mr-info-title">原手机号：</span>
                    <input class="mr-alert-input" type="text" value="861881****282" disabled="disabled"/>
                    <button class="mr-alert-btn mr-alert-send">发送</button>
                </div>
                <div class="mr-alert-list">
                    <span class="mr-info-title">新手机号：</span>
                    <div class="mr-alert-phone clearfix">
                        <p class="mr-alert-attach">+86</p>
                        <input class="mr-alert-input" type="text" value="" placeholder="请输入新手机号" />
                    </div>
                </div>
                <div class="mr-alert-list">
                    <span class="mr-info-title">验证码：</span>
                    <input class="mr-alert-input" type="text" value="" placeholder="请输入验证码"/>
                </div>
                <div class="mr-alert-list">
                    <span class="mr-info-title"></span>
                    <button class="mr-alert-btn mr-alert-phcancel">取消</button>
                    <button class="mr-alert-btn mr-alert-phsure">确定</button>
                </div>
            </div>
            <div class="mr-alert-passwordbox">
                <div class="mr-alert-left">设置密码</div>
                <div class="mr-alert-list">
                    <span class="mr-info-title">新密码：</span>
                    <input class="mr-alert-pwinput" type="text" value="" placeholder="请填写密码，至少6位"/>
                </div>
                <div class="mr-alert-list">
                    <span class="mr-info-title">确认密码：</span>
                    <input class="mr-alert-pwinput" type="text" value="" placeholder="确认密码与密码一致"/>
                </div>
                <div class="mr-alert-list">
                    <span class="mr-info-title"></span>
                    <button class="mr-alert-btn mr-alert-pwcancel">取消</button>
                    <button class="mr-alert-btn mr-alert-pwsure">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="footer">
    <div class="footer-main">
        <div class="footer-left">
            沪ICP备66449988号
        </div>
        <div class="footer-right">
            企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
        </div>
    </div>
</div>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/personalCenter/setting.js"></script>
</body>
</html>
