@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4 {
	margin-top: 0px;
}

li {
	list-style: none;
}

body {
	font-family: "微软雅黑";
	background: #eeeeee;
}

.row {
	width: 960px;
	margin: 20px auto;
	position: relative;
	background: white;
	-webkit-box-shadow: 0 0px 20px 3px #bcdccd;
	-moz-box-shadow: 0 0px 20px 3px #bcdccd;
	box-shadow: 0 0px 20px 3px #bcdccd;
}

.tip-img {
	position: absolute;
	left: -80px;
	top: -12px;
}

.content {
	width: 960px;
	margin: 0 auto;
}

.main {
	width: 901px;
	margin: 0 auto;
}

.main h3 {
	width: 100%;
	height: 56px;
	line-height: 56px;
	font-family: "微软雅黑";
}

.form-line clearfix {
	margin: 25px auto 10px 0;
}

.form-line label {
	width: 100px;
	text-align: right;
}

.line-input {
	width: 290px;
	height: 40px;
	border: lightblue 1px solid;
	border-radius: 5px;
	outline: none;
	color: lightslategray;
	text-indent: 5px;
	display: inline-block;
	font-size: 14px;
}
a{
	color:#333;
}
a:hover{
	color:#333;
}
.tip-img {
	height: 208px;
	width: 78px;
	position: absolute;
	left: -77px;
	top: -17px;
	background-image: url(../../app/img/content-side-bg.png);
}

.tip-img p {
	width: 20px;
	margin: 0 auto;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	margin-top: 40px;
}
.noName .tip-img {
	height: 260px;
	background-image: url(../../app/img/side.png);
}
/* 		.col-lg-6 {
				padding: 0;
				float: left;
				width: 50%;
				display: inline-block;
			} */
.lable {
	float: left;
	width: 220px;
}

.label select {
	width: 290px;
	height: 40px;
	border: lightblue 1px solid;
	border-radius: 5px;
	outline: none;
	color: lightslategray;
	text-indent: 5px;
	font-weight: 500;
	display: inline-block;
	font-size: 14px;
	margin-left: 10px;
}

select option {
	width: 250px;
	font-size: 14px;
	height: 40px;
	border: lightblue 1px solid;
	border-radius: 5px;
	outline: none;
	color: lightslategray;
	text-indent: 10px;
	font-family: "微软雅黑";
	font-weight: 500;
	display: inline-block;
}

.form-a {
	margin-right: 50px;
	color: #333;
	width: 80px;
	font-size: 18px;
	text-align: left;
}

.line-input:focus {
	border-color: lightskyblue;
}

.mag {
	margin: 8px 0;
}

.btn-size {
	width: 77px;
	height: 40px;
	background: #00a65a;
	color: white;
	border: none;
	border-radius: 4px;
	outline: none;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: 500;
}

.btn-orang {
	width: 132px;
	height: 40px;
	background: #ed6826;
	color: white;
	border: none;
	border-radius: 4px;
	outline: none;
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: 500;
}

.more-ul {
	width: 220px;
	border: lightblue 1px solid;
	position: absolute;
	left: 102px;
	top: 40px;
	z-index: 2;
	background: white;
}

.more-ul li {
	width: 100%;
	height: 40px;
	display: block;
	line-height: 40px;
	font-size: 12px;
	border-bottom: 1px solid lightblue;
}

.more-ul li:last-child {
	border: none;
}

.more-ul li input {
	width: 16px;
	height: 16px;
	margin: 0 5px 0;
	vertical-align: middle;
}

input[type=checkbox] {
	vertical-align: middle;
}

#hr {
	width: 100%;
	color: white;
	margin-bottom: 20px;
	border-bottom: 2px dashed lightgrey;
}

.table input[type=checkbox] {
	vertical-align: middle;
	margin-bottom: 10px;
	width: 16px;
	height: 16px;
}

.form-table td {
	height: 35px;
	line-height: 35px;
	font-size: 18px;
}

.tabel {
	font-size: 14px;
}

.checkList table th {
	text-align: left;
	font-size: 14px;
}

.checkList table td {
	text-align: left;
}

.checkList table tr td:last-of-type {
	text-align: right;
}

.checkList table th:last-of-type {
	text-align: right !important;
}

.clearfix {
	content: '';
	clear: both;
	display: block;
}

.mark8, .mark7, .mark6, .mark5, .mark4, .mark3, .mark2, .mark1 {
	width: 790px;
	height: 510px;
	z-index: 999;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -250px 0 0 -395px;
	background: white;
	/* text-align: center; */
	border-radius: 5px;
	/*border: 1px solid red;*/
}

.mark8, .mark7, .mark6, .mark5, .mark4, .mark3, .mark2, .mark1 span {
	float: right;
}

.mark1 h2 {
	margin-top: 100px;
}

.mark1 p {
	color: #ed6928;
}

.mark1-blue {
	margin-top: 50px;
	color: #44a0df;
	font-size: 20px;
}

.mark1-blue input {
	width: 220px;
	height: 45px;
	border: #44a0df 1px solid;
	margin-left: 15px;
}

.markbox {
	display: block;
	position: absolute;
	top: 0px;
	filter: alpha(opacity = 8);
	background-color: rgb(3, 3, 3);
	z-index: 998;
	left: 0px;
	opacity: 0.8;
	-moz-opacity: 0.8;
}

#tickettype {
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0;
}

#closedimg {
	cursor: pointer;
	margin: 1px 2px 0 0;
}

.close {
	height: 60px;
	width: 60px;
	float: right;
	line-height: 60px;
}

#closedimg {
	cursor: pointer;
	vertical-align: middle;
}

.ticketStatus {
	display: none;
}

.mark2 .innerMark2 {
	width: 600px;
	margin: 0 auto;
}

.payType li {
	float: left;
	text-align: center;
	width: 180px;
	border: 1px solid #ADADAD;
	height: 80px;
	line-height: 80px;
	margin-bottom: 30px;
	font-size: 24px;
	color: #000000;
}

.mark2 .innerMark2 {
	margin-top: 100px;
}

.payType li a {
	color: #000;
	text-decoration: none;
}

.payType li img {
	width: 40px;
	height: 35px;
	margin-right: 5px;
}

.payType li:nth-of-type(2) {
	margin: 0 30px;
}

.payType li:nth-of-type(5) {
	margin: 0 30px;
}

.mark3 .all {
	height: 50px;
	line-height: 50px;
	color: #44A0DF;
	margin-top: 100px;
}

.mark3 .all label {
	background-color: #44A0DF;
	width: 70px;
	text-align: center;
	color: #FFFFFF;
	vertical-align:top;
}

.mark3 .all input {
	border-color: #44A0DF;
	outline: none;
	border: 2px solid #44A0DF;
	padding-left: 4px;
	vertical-align:top;
}

.mark3 .receipts {
	height: 50px;
	line-height: 50px;
	color: #F7AA00;
}
.mark3 input {
	height: 50px;
	line-height: 50px;
}

.mark3 .receipts label {
	background-color: #F7AA00;
	width: 70px;
	text-align: center;
	color: #FFFFFF;
	vertical-align:top;
}

.mark3 .receipts input {
	border-color: #F7AA00;
	outline: none;
	border: 2px solid #F7AA00;
	padding-left: 4px;
	vertical-align:top;
}

.mark3 .receipts {
	margin: 20px 0;
}


.mark3 .change {
	height: 50px;
	line-height: 50px;
	color: #6FBA2C;
}

.mark3 .change label {
	background-color: #6FBA2C;
	width: 70px;
	text-align: center;
	color: #FFFFFF;
	vertical-align: top;
}

.mark3 .change input {
	border-color: #6FBA2C;
	outline: none;
	border: 2px solid #6FBA2C;
	padding-left: 4px;
	  vertical-align: top;
}
.sureOrder input {
	width: 275px;
	height: 54px;
	line-height: 54px;
	background-color: #f1793D;
	color: #FFFFFF;
	outline: none;
	border: none;
	margin-top: 90px;
	border-radius: 5px;
}

.mark4 .mark4Content {
	margin-top: 150px;
}

.mark4 .repayment {
	margin-top: 110px;
}

.mark4 .overtime {
	margin-top: 20px;
	color: #000000;
}

.mark4 .repayment button {
	border: none;
	outline: none;
	background-color: #43a1e0;
	color: #FFFFFF;
	width: 200px;
	height: 55px;
	border-radius: 5px;
}

.mark5Content {
	margin-top: 100px;
}

.mark5Content h4 {
	color: #ED6928;
	margin-top: 20px;
	margin-bottom: 60px;
}

.mark5Content div {
	color: #44a0e1;
	font-size: 24px;
}

.mark5Content div input {
	outline: none;
	border: 1px solid #44a0e1;
	padding-left: 10px;
}

.mark7Content h1 {
	margin: 100px 0 150px 0;
}

.mark7Content button {
	border: none;
	outline: none;
	background-color: #43a1e0;
	color: #FFFFFF;
	width: 200px;
	height: 55px;
	border-radius: 5px;
	font-size: 24px;
}

.idSwitch button {
	display: inline-block;
}

#defaultForm .noDocumentsLabel {
	margin-left: 9%;
}

#defaultForm .DocumentNo {
	margin-left: 6%;
}

.DocumentType, .form-control {
	width: 220px;
	display: inline-block;
	border: lightblue 1px solid;
	border-radius: 5px;
	height: 40px;
}

#cbIdType {
	padding: 0;
}

.payCardBtn {
	background-color:;
}

.form-line1 {
	margin-top: 0px;
}

.ticketStatus {
	display: none;
}

.readCardBtn, .payCardBtn {
	color: #fff;
	height: 40px;
	margin-top: -6px;
	margin-right: 10px;
	background-color: #52a8e5;
}

.payCardBtn:hover {
	color: #fff;
	background-color: #59a8e9;
}

.mark8 label {
	font-size: 20px;
}

.mark8 #payCode {
	margin: 0 15px;
	height: 40px;
	line-height: 40px;
	text-indent: 5px;
}

.scene-choice {
	float: right;
}

.radio {
	display: inline;
	margin-right: 80px;
}

.btnGro {
	display: inline-block;
}

.allpay {
	color: red;
	margin-right: 45px;
	font-size: 18px;
}

#resale {
	width: 110px;
	margin: 0 25px 0 15px;
}

@media screen and (max-width: 768px) {
	.row {
		width: 100%;
	}
	.content {
		width: 100%;
	}
	/* 	.aside{
			display:none;
		} */
	.main {
		width: 100%;
	}
	.line-input {
		width: 100%;
	}
	.form-line label {
		text-align: left;
		width: 100%;
	}
	.btnGro {
		display: block;
	}
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
		.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
		.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
		.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
		.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
		.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
		.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
		.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
		padding: 0;
	}
	.btn-orang {
		width:;
	}
	.form-a {
		display: block;
		float: left;
	}
	.regro {
		display: block;
		width: 100%;
	}
	#refresh {
		display: block;
		float: right;
		height: 40px;
		line-height: 40px;
	}
	.allpay {
		display: block;
		margin-right: 0;
		text-align: right;
		height: 45px;
		width: 100%;
	}
	#resale {
		margin-left: 20%;
		float: right;
		margin-right: 0;
	}
}

@media screen and (max-width: 320px) {
}