<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" type="text/css" href="css/nowactiv.css"/>
		<link rel="stylesheet" href="css/activ-details.css" />
		<title>活动详情</title>
	</head>
	<body ondragstart="return false">
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
							<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="index.html">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/Ocean.html">欢乐海洋大世界</a></li>
									<li><a href="themeAttractions/Theme-animal.html">欢乐动物大世界</a></li>						
								</ul>
			
							</li>
							<li>
								<div class="nav-title">度假酒店</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html">缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">完美假期</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title">关于我们</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">个人中心</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	
		<div class="active-content">
			<div class="active-box">
				<div class="active-title">
				<img src="img/left-sale.png">
					<!--文章标题-->
				<span>特别优惠</span>
				<img src="img/right-sale.png">
				</div>
				<div class="active-details">
					<!--文章主体-->
					<div class="details-article">
						<h2>勒泰城奇幻夜</h1>
						<hr />
						<div class="time-site">
							发布时间 ： 2016-11-16 10:27
						</div>
						<!--文章内容-->
						
						<article>
							<p>
								夜深了，<br>
								他一丝不苟的，平静的为她化妆。<br>
								她是他的妻子，此刻正安详的躺在床上。<br>
								虽然他是一位高级化妆师，却从未替她画过装，<br>
								这是第一次，却也是最后一次。<br>
								轻轻勾勒一笔，妻子的遗容终于大功告成，<br>
								他满意的看着自己的作品，<br>
								她是如此安详，脸含微笑，<br>
								似乎对这个人间全无依恋，离去才是他的幸福，<br>
								完全看不出她是一位服下了大量安眠药的重度抑郁症患者。<br>
								那些药是他放在她的酒里面的。<br>
								明天早上，她的妹妹会来看他们，<br>
								到那时，他只要扮演一个惊觉枕边人已经自尽的粗心丈夫，<br>
								就可以彻底解脱了。<br>
								他躺在死去的妻子旁边，这一夜居然无梦。<br>
								第二天早上，她的妹妹依约前来，<br>
								惊觉，嚎哭，昏厥，木然，<br>
								他的演技无可挑剔，<br>
								只是，小姨子悲伤之余，<br>
								为什么一直用那种奇怪的眼神看着他？<br>
								她终于说话了：<br>
								“姐夫，你脸上那么重的妆，是谁给你画的？”<br>
							</p>
							
							<div class="article-img">
								<img src="img/story-img.png"/>
							</div>
							
							<h5>
								活动时间:<br>
								2013年11月27日 —— 2016年12月27日
							</h5>
						</article>
						<hr>
						
						
							<a href="nowactiv.html" class="active-go">返回</a>
					</div>
				</div>
			</div>		
		</div>
			
		
		
		
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
		<script src="js/hover.js"></script>
	</body>
</html>
