<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="css/index.css"/>
			<link rel="stylesheet" href="css/current-active.css" />
			 <link rel="stylesheet" type="text/css" href="css/personalCenter/purchase-tickets.css"/>
		<title>当前活动</title>
	</head>
	<body>
			<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="index.html"class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<!--<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>									-->
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="#" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="current-activity.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>

								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		
			<div class="now-bg">
			<div class="current-active">
				<div class="current-top">
					<ul>
						<li><a href="javascript:void(0)">
							<img src="img/images/hot.png" alt=""  class="hot"/>
							<div class="one-day-img">
								<div class="one-day-img-main">
									<img src="img/now-act06.png">
								</div>
							</div>
							<p>
								<h3>魔法恐龙排队</h3>
								活动时间：<span>2017年9月15日</span>-<span>2017年10月30日</span>
							</p>
						</a></li>
						
						<li><a href="javascript:void(0)">
							<img src="img/images/hot.png" alt=""  class="hot"/>
							<div class="one-day-img">
								<div class="one-day-img-main">
									<img src="img/now-act02.png">
								</div>
							</div>
							<p>
								<h3>魔法恐龙排队</h3>
								活动时间：<span>2017年9月15日</span>-<span>2017年10月30日</span>
							</p>
						</a></li>
						
						<li><a href="javascript:void(0)">
							<img src="img/images/hot.png" alt=""  class="hot"/>
							<div class="one-day-img">
								<div class="one-day-img-main">
									<img src="img/now-act03.png">
								</div>
							</div>
							<p>
								<h3>魔法恐龙排队</h3>
								活动时间：<span>2017年9月15日</span>-<span>2017年10月30日</span>
							</p>
						</a></li>
						
						<li><a href="javascript:void(0)">
							<img src="img/images/hot.png" alt=""  class="hot"/>
							<div class="one-day-img">
								<div class="one-day-img-main">
									<img src="img/now-act04.png">
								</div>
							</div>
							<p>
								<h3>魔法恐龙排队</h3>
								活动时间：<span>2017年9月15日</span>-<span>2017年10月30日</span>
							</p>
						</a></li>
						
						<li><a href="javascript:void(0)">
							<img src="img/images/hot.png" alt=""  class="hot"/>
							<div class="one-day-img">
								<div class="one-day-img-main">
									<img src="img/now-act05.png">
								</div>
							</div>
							<p>
								<h3>魔法恐龙排队</h3>
								活动时间：<span>2017年9月15日</span>-<span>2017年10月30日</span>
							</p>
						</a></li>
						
						<li><a href="javascript:void(0)">
							<img src="img/images/hot.png" alt=""  class="hot"/>
							<div class="one-day-img">
								<div class="one-day-img-main">
									<img src="img/now-act06.png">
								</div>
							</div>
							<p>
								<h3>魔法恐龙排队</h3>
								活动时间：<span>2017年9月15日</span>-<span>2017年10月30日</span>
							</p>
						</a></li>
					
					</ul>
				</div>
				
				
				<div class="mr-page">
                <a class="mr-page-disabled" href="javascript:void(0)"><</a>
                <a class="mr-page-seleced" href="javascript:void(0)">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="javascript:void(0)">3</a>
                <a href="javascript:void(0)">></a>
            </div>
			</div>
			</div>
				
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
	<script type="text/javascript" src="js/hover.js" ></script>
	</body>
</html>
