<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/feature-carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/nowactiv.css"/>
		<title>缤纷假期</title>
		<style type="text/css">
	
	
</style>
	</head>
	<body>
	
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
					<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="index.html">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<!--<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>									-->
								</ul>
			
							</li>
							<li>
								<div class="nav-title"><a href="themeAttractions/gyjhotel.html">度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" class="nav-bg">缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="current-activity.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>

								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title"><a href="aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
			
	
		<div class="active-content">
			<div class="native-a">
				<a href="current-activity.html" class="naivaA">当前活动</a><a href="javascript:void(0)" class="naivaB">品牌活动</a>
			</div>
			<div class="native-b">
				<div class="row-bot">
		<div class="center-shadow">
				<div class="carousel-container">
						  <div id="carousel">
							<div class="carousel-feature">
							  <a href="activ-details.html"><img class="carousel-image" alt="" src="img/moncar.png"></a> 
							 <div class="poster-box">
											<h2>勒泰城奇幻夜</h2>
											<p>
												惊悚！？悬疑？刺激！是人性的扭曲，还是道德的沦丧？勒泰城奇幻夜<br>
												为您揭晓。只要你够胆、只要你敢进来,带你体验另一个世界的传奇故事aaaaaaaaaaaaaa
											</p>
											<h4><img src="img/time-img.png">&nbsp;活动时间：2016年11月27日 —— 2016年12月27日</h4>
							</div>
							</div>
							<div class="carousel-feature">
							  <a href="#"><img class="carousel-image" alt="" src="img/star.png"></a>
							   <div class="poster-box">
											<h2>勒泰城奇幻夜</h2>
											<p>
												惊悚！？悬疑？刺激！是人性的扭曲，还是道德的沦丧？勒泰城奇幻夜<br>
												为您揭晓。只要你够胆、只要你敢进来,带你体验另一个世界的传奇故事aaaaaaaaaaaaaa
											</p>
											<h4><img src="img/time-img.png">&nbsp;活动时间：2016年11月27日 —— 2016年12月27日</h4>
							</div>
							</div>
							<div class="carousel-feature">
							  <a href="#"><img class="carousel-image" alt="" src="img/swimming.png"></a>
							 <div class="poster-box">
											<h2>勒泰城奇幻夜</h2>
											<p>
												惊悚！？悬疑？刺激！是人性的扭曲，还是道德的沦丧？勒泰城奇幻夜<br>
												为您揭晓。只要你够胆、只要你敢进来,带你体验另一个世界的传奇故事aaaaaaaaaaaaaa
											</p>
											<h4><img src="img/time-img.png">&nbsp;活动时间：2016年11月27日 —— 2016年12月27日</h4>
							</div>
							</div>
						  </div>
				</div>
		</div>
				</div>
			</div>
			
	</div>

			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.featureCarousel.js" ></script>
	<script src="js/hover.js"></script>
<script type="text/javascript">
      $(document).ready(function() {
      	$("#carousel").find("ul").val();
        var carousel = $("#carousel").featureCarousel({
          // include options like this:
          // (use quotes only for string values, and no trailing comma after last option)
          // option: value,
          // option: value
           largeFeatureWidth:420,
          largeFeatureHeight:270,
          smallFeatureWidth:370,
          topPadding:60,
          sidePadding:750
        });


      });
    </script>


	</body>
	
</html>
