<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/summer-ac.css">
		<title>夏日亲子海归趴</title>
	</head>
	<body>
			<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="index.html"class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/Theme-animal.html">欢乐动物大世界</a></li>
									<li><a href="themeAttractions/Ocean.html">欢乐海洋大世界</a></li>
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="themeAttractions/holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">观云居</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="current-activity.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									
								</ul>
							</li>
							<li>
								<div class="nav-title" >线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="personalCenter/setting.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
			<div class="activities-detals">
				<img src="img/sunmer-ac01.png">
				<p>
					天柱山欢乐大世界超级温水系统8月1日全面启动！全园滑到水温达33°，全新奇妙亲子水城新区、
					十大热水按摩池，水温更可达38°。即玩温水、又泡热水，游客可以在欢乐大世界水上乐园感受到春天别有
					的温暖，享受美好的玩水时光及极致的水上娱乐体验！欢乐大世界水上乐园超级温水系统，为游客开启
					全天候玩水时代！
				</p>
				<img src="img/sunmer-ac02.png">
				<p>
					左右欢乐大世界水上乐园2016的年度巨献，"奇妙亲子水城"的设计概念是为了使得大人和小朋友在玩水的时候
					能够进行更深层次的互动，畅享温馨亲子时光。在奇妙亲子水城内，拥有多座梦幻的喷水设备，每一座喷水设备都
					显得色彩斑斓、可爱逗趣，园区更是推出创新式的动物水幕，一群以熊猫三胞胎"萌帅酷"为首的动物明星们站成一排
					形成一组犹如仙境般的动物喷水长廊，给小朋友们带来前所未有的视觉体验。除了可爱的卡通
					形象之外，水上乐园还为奇妙亲子水城增加了温水系统，从此小朋友们就可以舒服的在水城内尽情戏水，而在38°~40°
					的舒适水温下，见证"全天候玩水时代"的来临。
				</p>
				<img src="img/sunmer-ac03.png">
				<img src="img/sunmer-ac04.png">
			</div>
		
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
	<script type="text/javascript" src="js/hover.js" ></script>
	</body>
</html>
