<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>票价信息</title>
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/traffic-map.css" />
	</head>
	<body>
				<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="themeAttractions/Theme-animal.html"class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
									<li><a href="themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>							
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="themeAttractions/holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/holiday-hotel.html">观云居</a></li>

									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌节庆</a></li>

								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="aboutus/about-us.html">企业风采</a></li>
									<li><a href="aboutus/about-us-talent.html">人才招聘</a></li>
									<li><a href="aboutus/about-us-contactus.html">联系我们</a></li>
									<li><a href="aboutus/about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
										<li><a href="javascript:void(0)">门票预订</a></li>
									<li><a href="javascript:void(0)">酒店预订</a></li>
									<li><a href="javascript:void(0)">纪念品</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="login.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="personalCenter/setting.html">个人账户</a></li>
									<li><a href="personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		
			<div class="traffic">
				<div class="traffic-map">
					<h2>欢乐大世界指南</h2>
					
					<div class="traffic-nav">
						<ul>
						<li><a href="traffic-map.html">
								交通指南
							</a></li>
							<li><a href="wonderful-play.html">
								精彩玩点
							</a></li>
							<li><a href="ticket-messsage.html">
								票价信息
							</a></li>
							<li><a href="traffic-map.html">
								游玩指南
							</a></li>
							<li><a href="traffic-map.html">
								运营时间
							</a></li>
							<li><a href="traffic-map.html">
								导览图
							</a></li>
							<div class="clearfix">
								
							</div>
						</ul>
					</div>
					
					<div class="tick-bg">
						<div class="tick-bginfo">
							欢乐大世界乐园票价信息
						</div>
						<div class="tick-sale">
							<a href="perfect-holiday/perfect-holiday.html">门票预订</a>
						</div>
					</div>
					
					<div class="tick-table">
						<table>
							<tr>
								<th class="tick-size">票种</th>
								<th class="tick-price">票价</th>
								<th class="tick-note">备注</th>
							</tr>
							<tr>
								<td>大门票</td>
								<td>80元</td>
								<td>含度假区大门票+游览车票</td>
							</tr>
							<tr>
								<td>动物世界门票</td>
								<td>168元</td>
								<td>仅指动物世界通票</td>
							</tr>
							<tr>
								<td>海洋公园门票</td>
								<td>268元</td>
								<td>仅指海洋公园通票</td>
							</tr>
							<tr>
								<td>动物世界套餐</td>
								<td>240元</td>
								<td>含大门票+游览车票+动物世界通票</td>
							</tr>
							<tr>
								<td>海洋公园套票</td>
								<td>340元</td>
								<td>含大门票+游览车票+动物世界通票</td>
							</tr>
							<tr>
								<td>二日游套票</td>
								<td>498元</td>
								<td>含大门票+游览车票+动物世界通票+海洋公园通票</td>
							</tr>
							<tr>
								<td>免票</td>
								<td colspan="2">身高1米及以下婴儿/儿童监护人陪同下，免票入园</td>
							</tr>
							<tr>
								<td>半价</td>
								<td colspan="2">1米至1.4米（含）儿童；年龄65周岁及以上长者（需携带本人有效身份证件）；
持证现役军人、持证残疾人、持证媒体工作者。</td>
							</tr>
						</table>
					</div>
					
					<div class="tick-know">
						<img src="img/buyknow.png"/>
					</div>
					<div class="ticket-message">
					<ul>
						<li>1.门票一经售出，谢绝退换。</li>
						<li>2.除二日游套票外，各门票一次有效，出园后再次入园需重新购票。</li>
						<li>3.二日游套票连续的2日内有效，可无限次进出度假区和乘坐游览车，但所含动物世界和海洋公园均只能游玩一次；
购票时需采集指纹，再次进入度假区需出示门票并验证指纹。</li>
						<li>4.请认真阅读并遵守福建天柱山旅游度假区游玩须知，文明旅游。</li>
					</ul>
						<img src="img/tiger.jpg"/>
					</div>
					<div class="clearfix"></div>
			</div>
			

			
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		
			<script src="js/jquery-3.1.1.min.js"></script>
			<script src="js/hover.js"></script>
	

	</body>
</html>
