<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/index.css" />
		<link rel="stylesheet" href="css/traffic-map.css" />
		<title>交通规划</title>
		
	</head>
	<body>
				<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="themeAttractions/Theme-animal.html"class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
									<li><a href="themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>							
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="themeAttractions/holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/holiday-hotel.html">观云居</a></li>

									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌节庆</a></li>

								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="aboutus/about-us.html">企业风采</a></li>
									<li><a href="aboutus/about-us-talent.html">人才招聘</a></li>
									<li><a href="aboutus/about-us-contactus.html">联系我们</a></li>
									<li><a href="aboutus/about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">门票预订</a></li>
									<li><a href="javascript:void(0)">酒店预订</a></li>
									<li><a href="javascript:void(0)">纪念品</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="login.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="personalCenter/setting.html">个人账户</a></li>
									<li><a href="personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
		
			<div class="traffic">
				<div class="traffic-map">
					<h2>欢乐大世界指南</h2>
					
					<div class="traffic-nav">
						<ul>
							<li><a href="traffic-map.html">
								交通指南
							</a></li>
							<li><a href="wonderful-play.html">
								精彩玩点
							</a></li>
							<li><a href="ticket-messsage.html">
								票价信息
							</a></li>
							<li><a href="traffic-map.html">
								游玩指南
							</a></li>
							<li><a href="traffic-map.html">
								运营时间
							</a></li>
							<li><a href="traffic-map.html">
								导览图
							</a></li>
							<div class="clearfix">
								
							</div>
						</ul>
					</div>
				
					<div class="traffic-content" id="traffic-content"></div>
					
					<div class="mapimg01">
						<img src="img/mmap01.png"/>
						<img src="img/mmap02.png"/>
					</div>
					
					<div class="road-information">
						<h3>厦门长泰天柱山欢乐大世界自驾交通指南</h3>
						<span>厦门方向:</span>
						<i>厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
						<span>泉州方向:</span>
						<i>沈海高速——（海沧枢纽转）厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
						<span>漳州方向:</span>
						<i>沈海高速——（海沧枢纽转）厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
						<span>福州方向:</span>
						<i>沈海高速——（海沧枢纽转）厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
						<span>龙岩方向:</span>
						<i>厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区
</i>
						<span>三明方向:</span>
						<i>长深高速——（吉山枢纽转）泉南高速——永漳高速——（玉兰枢纽转）厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
						<span>广东方向:</span>
						<i>沈海高速——（海沧枢纽转）厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
						<span>赣州方向:</span>
						<i>厦蓉高速——(马洋溪/天柱山出口下左转）锦溪路——（直行600米）福建天柱山旅游度假区</i>
					</div>
				</div>
			</div>
			

			
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		
			<script src="js/jquery-3.1.1.min.js"></script>
			<script src="js/hover.js"></script>
			<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=FDsnp6HGNNum2v3IB9DH9RWPVcbf795V"></script>
			<script type="text/javascript">
				// 百度地图API功能
				var map = new BMap.Map("traffic-content");            // 创建Map实例
				map.centerAndZoom(new BMap.Point(117.25, 24.6215), 11);
				var local = new BMap.LocalSearch(map, {
					renderOptions: {map: map, panel: "r-result"}
				});
				local.search("旅游");
			</script>

	</body>
</html>
