<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>精彩玩点</title>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
		<link rel="stylesheet" href="css/traffic-map.css" />
	</head>
	<body>
			<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="index.html"><img src="img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="themeAttractions/Theme-animal.html"class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/Ocean.html">海洋欢乐大世界</a></li>
									<li><a href="themeAttractions/Theme-animal.html">动物欢乐大世界</a></li>							
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="themeAttractions/holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="themeAttractions/holiday-hotel.html">观云居</a></li>

									
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="current-activity.html">当前活动</a></li>
									<li><a href="javascript:void(0)">品牌节庆</a></li>

								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday/perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="perfect-holiday/perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="aboutus/about-us.html">企业风采</a></li>
									<li><a href="aboutus/about-us-talent.html">人才招聘</a></li>
									<li><a href="aboutus/about-us-contactus.html">联系我们</a></li>
									<li><a href="aboutus/about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">门票预订</a></li>
									<li><a href="javascript:void(0)">酒店预订</a></li>
									<li><a href="javascript:void(0)">纪念品</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="login.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="personalCenter/setting.html">个人账户</a></li>
									<li><a href="personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>

			<div class="traffic">
				<div class="traffic-map">
					<h2>欢乐大世界指南</h2>
					
					<div class="traffic-nav">
						<ul>
							<li><a href="traffic-map.html">
								交通指南
							</a></li>
							<li><a href="wonderful-play.html">
								精彩玩点
							</a></li>
							<li><a href="ticket-messsage.html">
								票价信息
							</a></li>
							<li><a href="traffic-map.html">
								游玩指南
							</a></li>
							<li><a href="traffic-map.html">
								运营时间
							</a></li>
							<li><a href="traffic-map.html">
								导览图
							</a></li>
							<div class="clearfix">
								
							</div>
						</ul>
					</div>
				
					<div class="wonderful-play">
						<ul>
							<li>
								<div class="wonder-img">
									<span>01</span>
									<img src="img/wonderful-play01.png"/>
									<i>鲸鱼馆---亚洲规模第一</i>
								</div>
								<div class="wonder-p">
									<h5>海洋公园</h5>
									<p>
										云上•海洋公园位于天柱山旅游度假区南麓山腰，占地10.9万平方米，包含生态鱼缸、雨林奇观、卧佛谷、儿童乐园、海豚馆、鲸鲨馆、海底隧道、鲤鱼泉、山顶摩天轮。有虎鲸、白海豚在内的海洋生物100余种，鱼类近2000尾。热带海洋梦幻秘境 ,全国唯一建于森林里的海洋公园 ,国际知名水族馆----日本名古屋水族馆合作项目 ,鲸鲨馆----规模亚洲第一/单馆虎鲸数量世界第一（8只） ,海底巨幕----亚克力面积世界第一 。

									</p>
								</div>
							</li>
							
							<li>
								<div class="wonder-img">
									<span>02</span>
									<img src="img/wonderful-play02.png"/>
									<i>全国首席山岳型动物世界</i>
								</div>
								<div class="wonder-p">
									<h5>动物世界</h5>
									<p>
									云上•动物世界位于天柱山旅游度假区南麓山谷，占地12.6万平方米，包含动物表演馆、三栖馆、食草散养区、袖珍动物洞、动物乐园、恐龙园、猛兽区、大象谷、鳄鱼池、猴山。引进白虎、狮子、猎豹、斑马、羊驼、长颈鹿、鳄鱼、非洲象等100余种珍稀动物。是森林动物欢乐王国 ，全国首席山岳型动物世界 ，动物的欢乐世界，人类的知识王国 。
									</p>
								</div>
							</li>
							
							<li>
								<div class="wonder-img">
									<span>03</span>
									<img src="img/wonderful-play03.png"/>
									<i>高逾九仞，横站碧空</i>
								</div>
								<div class="wonder-p">
									<h5>屏风石</h5>
									<p>
									又称天柱岩，“高逾九仞，横站碧空”，因其形似屏状耸于650米山脊而得名。其石面平且宽，北宋宣和乙巳年镌刻“天柱岩”三字；明洪熙年间又镌“南无阿弥陀佛、南无大乘妙法莲华经、南无大方广佛华岩经、唵嘛呢叭弥吽”等石刻。
									</p>
								</div>
							</li>
							
							<li>
								<div class="wonder-img">
									<span>04</span>
									<img src="img/wonderful-play04.png"/>
									<i>魏然耸峙，突兀峥嵘</i>
								</div>
								<div class="wonder-p">
									<h5>南天一柱</h5>
									<p>
									位于海拔约800米山脊之上，高10余米，魏然耸峙，突兀峥嵘。传说盘古开天辟地，火神祝融与水神共工，大战七七四十九天，天昏地暗，飞沙走石，天从东南方倾斜将坠，女娲从昆仑山输神石柱其间，以为天柱，“天柱山”因此得名。
									</p>
								</div>
							</li>
							
							<li>
								<div class="wonder-img">
									<span>05</span>
									<img src="img/wonderful-play05.png"/>
									<i>美名曰仙人跳</i>
								</div>
								<div class="wonder-p">
									<h5>白云洞</h5>
									<p>
									位于热带雨林山窝上，为度假区一绝。三巨石拦沟而立，上下两巨石叠于约20米高、15米宽巨石，中间形成三面通透天然躲雨纳凉之地，有石桌石凳一付。上方屋檐巨石形似天然跳板，美名曰仙人跳。三巨石的下方又有一百余平米两边相通洞室，此地为云雾出入之地，得名白云洞。
									</p>
								</div>
							</li>
							
							<li>
								<div class="wonder-img">
									<span>06</span>
									<img src="img/wonderful-play06.png"/>
									<i>泉声潺潺，幽雅绝伦</i>
								</div>
								<div class="wonder-p">
									<h5>热带雨林</h5>
									<p>
天柱山最为原始，最丰富多变的生态森林，随处可见林木、藤木植物与苔藓植物共生的景观。林中负离子含量极高，漫步林中小道，高大的乔木，遮天蔽日，千姿百态；甘冽的涧水，泉声潺潺，幽雅绝伦。
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			

			
			<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		
			<script src="js/jquery-3.1.1.min.js"></script>
			<script src="js/hover.js"></script>

	</body>
</html>
