<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>完美假期</title>
		<link rel="stylesheet" type="text/css" href="../css/index.css"/>
		<link rel="stylesheet" type="text/css" href="../css/perfectHoliday/holiday.css"/>
	</head>
	<body>
		<div class="header">
			<div class="header-top">
				<div class="header-top-main">
					<div class="header-top-main-bg">
						<a href="../index.html"><img src="../img/logo.png"></a>	
					</div>	
					<div class="header-top-main-title">
						<span>
							<img src="../img/weather.png" />天柱山&nbsp;20°C~27°C
						</span>	
						<span class="tel">
							服务电话： 0596-7075555 &nbsp;&nbsp;简体中文| English
						</span>
					</div>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-main">
					<div class="header-nav-main-nav">
						<ul>
							<li>
								<div class="nav-title first"><a href="../themeAttractions/Theme-animal.html" class="nav-bg">主题景区</a></div>
								<ul class="hidden-nav">
									<li><a href="../themeAttractions/Ocean.html">欢乐海洋大世界</a></li>
									<li><a href="../themeAttractions/Theme-animal.html">欢乐动物大世界</a></li>
								</ul>
			
							</li>
							<li>
								<div class="nav-title"  ><a href="../themeAttractions/holiday-hotel.html" >度假酒店</a></div>
								<ul class="hidden-nav">
									<li><a href="../themeAttractions/holiday-hotel.html">观云居</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="../nowactiv.html" >缤纷活动</a></div>
								<ul class="hidden-nav">
									<li><a href="../current-activity.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title"><a href="perfect-holiday.html">完美假期</a></div>
								<ul class="hidden-nav">
									<li><a href="perfect-holiday.html">一日游</a></li>
									<li><a href="javascript:void(0)">二日游</a></li>
								</ul>
							</li>
							
							<li>
								<div class="nav-title" ><a href="../aboutus/about-us.html">关于我们</a></div>
								<ul class="hidden-nav">
									<li><a href="../aboutus/about-us.html">企业风采</a></li>
									<li><a href="../aboutus/about-us-talent.html">人才招聘</a></li>
									<li><a href="../aboutus/about-us-contactus.html">联系我们</a></li>
									<li><a href="../aboutus/about-us-friendship.html">友情链接</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title">线上商城</div>
								<ul class="hidden-nav">
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
									<li><a href="javascript:void(0)">aaa</a></li>
								</ul>
							</li>
							<li>
								<div class="nav-title" ><a href="../login.html">个人中心</a></div>
								<ul class="hidden-nav">
									<li><a href="../personalCenter/setting.html">个人中心</a></li>
									<li><a href="../personalCenter/setting.html">设置</a></li>
								</ul>
							</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
		
			<div class="bgimg">
		<div class="holiday-ticket">
			<ul>
				<li>
					<div class="holiday-img">
						<div class="holiday-big"><img src="../img/perfect-holiday/perfect01.png"></div>
					</div>
					<div class="holiday-details">
						<h3>全价票</h3>
						<p>
							欢乐大世界一日票：在得天独厚的天柱山国家森林公园中发现奇妙的欢乐大世界。
							可选择畅享海洋公园绚丽生态奇观，或观山步道壮阔山林美景，亦或是观赏森林动物
							野性之美。在山川与海洋的天然融合中寻找生命的平衡与奥妙。详细购票讯息请进入
							购票网页，套票讯息请参考购票网页说明。
						</p>
					</div>
					<div class="holiday-sale">
						<div class="holiday-sale-top">￥<strong>260</strong>.00元</div>
						<button type="button"><a href="javascript:void(0)">
							立即预定
						</a></button>
					</div>
				</li>
				
					<li>
					<div class="holiday-img">
						<div class="holiday-big"><img src="../img/perfect-holiday/perfect02.png"></div>
					</div>
					<div class="holiday-details">
						<h3>全价票</h3>
						<p>
							欢乐大世界一日票：在得天独厚的天柱山国家森林公园中发现奇妙的欢乐大世界。
							可选择畅享海洋公园绚丽生态奇观，或观山步道壮阔山林美景，亦或是观赏森林动物
							野性之美。在山川与海洋的天然融合中寻找生命的平衡与奥妙。详细购票讯息请进入
							购票网页，套票讯息请参考购票网页说明。
						</p>
					</div>
					<div class="holiday-sale">
						<div class="holiday-sale-top">￥<strong>260</strong>.00元</div>
						<button type="button"><a href="javascript:void(0)">
							立即预定
						</a></button>
					</div>
				</li>
				
					<li>
					<div class="holiday-img">
						<div class="holiday-big"><img src="../img/perfect-holiday/perfect03.png"></div>
					</div>
					<div class="holiday-details">
						<h3>全价票</h3>
						<p>
							欢乐大世界一日票：在得天独厚的天柱山国家森林公园中发现奇妙的欢乐大世界。
							可选择畅享海洋公园绚丽生态奇观，或观山步道壮阔山林美景，亦或是观赏森林动物
							野性之美。在山川与海洋的天然融合中寻找生命的平衡与奥妙。详细购票讯息请进入
							购票网页，套票讯息请参考购票网页说明。
						</p>
					</div>
					<div class="holiday-sale">
						<div class="holiday-sale-top">￥<strong>260</strong>.00元</div>
						<button type="button"><a href="javascript:void(0)">
							立即预定
						</a></button>
					</div>
				</li>
				
					<li>
					<div class="holiday-img">
						<div class="holiday-big"><img src="../img/perfect-holiday/perfect04.png"></div>
					</div>
					<div class="holiday-details">
						<h3>全价票</h3>
						<p>
							欢乐大世界一日票：在得天独厚的天柱山国家森林公园中发现奇妙的欢乐大世界。
							可选择畅享海洋公园绚丽生态奇观，或观山步道壮阔山林美景，亦或是观赏森林动物
							野性之美。在山川与海洋的天然融合中寻找生命的平衡与奥妙。详细购票讯息请进入
							购票网页，套票讯息请参考购票网页说明。
						</p>
					</div>
					<div class="holiday-sale">
						<div class="holiday-sale-top">￥<strong>260</strong>.00元</div>
						<button type="button"><a href="javascript:void(0)">
							立即预定
						</a></button>
					</div>
				</li>
				
					<li>
					<div class="holiday-img">
						<div class="holiday-big"><img src="../img/perfect-holiday/perfect05.png"></div>
					</div>
					<div class="holiday-details">
						<h3>全价票</h3>
						<p>
							欢乐大世界一日票：在得天独厚的天柱山国家森林公园中发现奇妙的欢乐大世界。
							可选择畅享海洋公园绚丽生态奇观，或观山步道壮阔山林美景，亦或是观赏森林动物
							野性之美。在山川与海洋的天然融合中寻找生命的平衡与奥妙。详细购票讯息请进入
							购票网页，套票讯息请参考购票网页说明。
						</p>
					</div>
					<div class="holiday-sale">
						<div class="holiday-sale-top">￥<strong>260</strong>.00元</div>
						<button type="button"><a href="javascript:void(0)">
							立即预定
						</a></button>
					</div>
				</li>
				
				
			</ul>
		</div>
			</div>
		<div class="footer">
			<div class="footer-main">
				<div class="footer-left">
				沪ICP备66449988号
				</div>
				<div class="footer-right">
					企业邮箱 : happyworld@china-flame.com&nbsp;客服热线 : 021-1234-5678
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="../js/hover.js"></script>
	</body>
</html>
