 .ticket-type {
	position: relative;
	float: right;
	width: 100%;
	height: 38px;
	line-height: 38px;
	text-indent: 10px;
	border: 1px solid #b3b3b3;
	background-color: #fff;
}

.ticket-type:hover .all-ticket {
	display: block;
}

.all-ticket {
	display: none;
	position: absolute;
	top: 33px;
	left: 13px;
	z-index: 1;
	width: 94%;
	height: 152px;
	overflow-y: auto;
	background-color: #fff;
	border: 1px solid #b3b3b3;
	list-style: none;
	padding: 0;
}

.all-ticket li {
	height: 30px;
	display: inline-block;
	width: 100%;
	text-indent: 10px;
}

.all-ticket li i {
	font-style: normal;
}

.ttt {
	width: 15px;
	height: 15px;
	verticla-align: middle;
}

.ticket-info {
	height: 20px;
	margin: 0 10px;
	position: Relative;
	bottom: 5px;
}

.content {
	width: 960px;
	position: relative;
}

.box {
	border: none;
}
.tip-img {
	height: 270px;
	width: 78px;
	position: absolute;
	background-image: url(../app/img/side.png);
	left: -20px;
	top: 0px;
}

.tip-img p {
	width: 20px;
	margin: 0 auto;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	margin-top:40px;

}

.box-primary {
	width: 900px;
}

.box-header .box-title {
	font-size: 24px;
}

.innerContent {
	width: 90%;
	margin: 0 auto;
}

.innerContent img {
	width: 100%;
	height: 100%;
}

form {
	margin-bottom: 20px;
}

.box-header.with-border {
	border: none;
}

.form-control {
	border: lightblue 1px solid;
	border-radius: 5px;
}

.ticket-type-text {
	border-radius: 5px;
}
.back{
	border:none;
	background-color:transparent;
}
.back:hover{
	background-color:transparent;
} 
#addButton{
	width: 80px;
    border-radius: 5px;
}